[2017-07-19 14:01] gajo4256 opened #1 "Reset password not working"
Hi,

it seems that after registration I cannot login. I went to "reset password" but there I get:

Could you help me?

Thnx,
Tommy

[2017-07-19 14:07] gajo4256 commented on #1
Okay, it seems I've clicked twice on the reset and I got 2 emails and only with the first link I could reset password successfully.

[2017-07-19 14:07] #1 closed

[2017-07-20 19:24] rdmueller opened #2 "Login / GitHub access"
Great tool, but why do I need to create an account _and_ give access to github?
Would the github oauth access not also work as login?

And a version without the need for access to the github repositories (download as zip) would be great!

[2017-07-20 19:28] jdubois commented on #2
In fact you are answering your own question :-)
As we would like to propose downloads, we can't make GitHub authentication mandatory.
Another reason is that it was quicker to code like this, as JHipster generates the whole authentication mechanism.

[2017-07-20 20:13] rdmueller commented on #2
...but a GitHub auth without repo access or another social login would be great. I hate having to create another account :-)
But I do understand the "quicker to code" argument :-)
Feel free to close this ticket...

[2017-07-21 09:39] #2 closed

[2017-07-21 13:53] gabrielmathias opened #3 "I was unable to use complex passwords."
Like this one:
EpeJ*8XYcJ&^XEpGBZMuZz

I was able to set it, but not login.

[2017-07-21 16:41] jdubois commented on #3
I just tested it without any issue.

[2017-07-21 16:44] jdubois commented on #3
I just had a look at the logs: that's because you tried to login with your email address, and not your login.

[2017-07-21 16:44] #3 closed

[2017-07-25 07:00] dgautier opened #4 "Can't register with a .io mail"

[2017-07-25 09:45] jdubois commented on #4
From what I see you didn't activate your account - did you receive the activation email?

[2017-07-28 16:49] jotamorais opened #5 "Register email confirmation never made its way to my inbox"
I registered with my email and it said I would receive an email and I had to confirm it but I never got any.

[2017-07-28 17:00] jdubois commented on #5
Thanks Jonathan, I do see in the mailgun logs that you received the email -
maybe it's in your spam folder?

Le 28 juil. 2017 6:49 PM, "Jonathas Morais" <notifications@github.com> a
écrit :

[2017-07-28 18:01] jotamorais commented on #5
@jdubois,  I got it now. It wasn't in my spam - just took a long time to be delivered (perhaps something with your SMTP/Mail hub - just guessing).

But thanks anyway!

[2017-08-03 00:46] mfreed420 commented on #5
I can't seem to register.  Maybe I've been on my computer too many hours.

[2017-08-03 00:53] mfreed420 opened #6 "can't get account to register"
I can't seem to register. Maybe I've been on my computer too many hours. wait I register the account then I confirm email in my spam then when I go log in it says account cannot be confirmed. I have tried changing password multiple times. I have a capital letter small case letter a number and a symbol in my password. Any advice on how I may register or what I may be doing wrong?

The error message

[2017-08-03 05:49] jdubois commented on #6
Our UX is bad here (and it's the default JHipster UX, so that's really bad) - did you use your login or your email to log in? Of course you need your login.

[2017-08-03 07:56] mfreed420 commented on #6
I  believe I used my email I think.

-----Original Message-----
From: Julien Dubois <notifications@github.com>
To: jhipster/jhipster-online <jhipster-online@noreply.github.com>
Cc: mfreed420 <htotpotriy@aol.com>; Author <author@noreply.github.com>
Sent: Thu, Aug 3, 2017 12:49 am
Subject: Re: [jhipster/jhipster-online] can't get account to register (#6)

Our UX is bad here (and it's the default JHi

[2017-08-03 08:04] mfreed420 commented on #6
That worked using my login and not my email.  Thank you!!!

[2017-08-03 09:12] jdubois commented on #6
We need to change the UX

[2017-08-03 09:12] #6 closed

[2017-08-03 09:12] #4 closed

[2017-08-03 09:13] #5 closed

[2017-08-04 07:58] dibek opened #7 "Login not possible after changing password."
I created an account then I tried to access but probably my password was wrong, so I asked for another password. I succeded in changing the password but I cannot login.

[2017-08-04 09:02] jdubois commented on #7
I can see in the logs, you tried to authenticate with your email address and not your username.

[2017-08-04 09:02] #7 closed

[2017-08-08 09:37] JinnaBalu opened #8 "Unable to register"
![image](https://user-images.githubusercontent.com/11784253/29065581-316b7f98-7c4a-11e7-8789-3a4024c15e86.png)

[2017-08-08 09:39] jdubois commented on #8
I just tried it without any issue - maybe a network issue? Can you try again?

[2017-08-08 10:38] JinnaBalu commented on #8
i have registered with jinnabalu24@gmail.com, it worked, but when i clicked for reset password it is not working. I am justing testing the flows.

[2017-08-08 10:48] JinnaBalu commented on #8
https://github.com/JinnaBalu/sampleJhOnline/blob/master/.yo-rc.json,
i have created aplicatuon with cassandra and elasticsearch together, bydefault which is not allowed when i create app  yo.

Is this working with latest release?

[2017-08-09 15:21] jdubois commented on #8
No this shouldn't work. Anyway nobody uses Cassandra, so we can't test advanced options with Cassandra

[2017-08-09 15:21] #8 closed

[2017-08-12 18:06] andyrewwer opened #9 "Cannot use Application Generator"
After authorizing Jhipster in settings

<img width="744" alt="screenshot 2017-08-12 11 05 07" src="https://user-images.githubusercontent.com/5366359/29243187-279cd5aa-7f4e-11e7-9794-5f83ce1f9444.png">

I cannot generate an application, (this screen:
<img width="699" alt="screenshot 2017-08-12 11 05 48" src="https://user-images.githubusercontent.com/5366359/29243189-3afcf076-7f4e-11e7-9ce9-ce2ef637

[2017-08-12 19:09] jdubois commented on #9
There might be a glitch in GitHub's OAuth2 server, could you try again tomorrow ? Hundreds of people used this, so under normal conditions this works.

[2017-08-15 05:19] jdubois commented on #9
No news, and we still have many people using the app, so closing this.

[2017-08-15 05:19] #9 closed

[2017-08-23 16:42] mraible opened #10 "Can't login even after resetting password"
I've reset my password a couple times, and received reset emails just fine. However, when I try to login, it doesn't work. I'm using 1Password to generate my passwords. The first one had a period in it (`u7kWNv.jMxwBV}wH`), the current one has no symbols in it.

[2017-08-23 16:44] jdubois commented on #10
Matt, that's because you use your email address instead of your user name (I just read the audit logs).
That's a big UX issue we have from the start, that comes from JHipster itself

[2017-08-23 16:44] jdubois commented on #10
And I just added a more explicit error message

[2017-08-23 16:44] #10 closed

[2017-08-23 17:38] PierreBesson opened #11 "Add API first development in additional options"
The option was just added in the latest release and is called `enableSwaggerCodegen` in the yo-rc.

[2017-08-23 18:54] kaitlin-farr opened #12 "Callback for GitHub synchronization is wrong"
When I access https://start.jhipster.tech/#/github and attempt to synchronize my GitHub account, the callback after I've accepted the permissions on GitHub tries to take me to http://jhipster.julien-dubois.com/#/github/callback/<token here>, but this defaults to an Apache2 Ubuntu Default Page.

My workaround was to manually replace jhipster.julien-dubois.com with https://start.jhipster.tech in the

[2017-08-23 18:56] jdubois commented on #12
Oh you are right, thanks a lot!!!

[2017-08-23 18:57] jdubois commented on #12
Just corrected it, can you try again?

[2017-08-23 18:59] jdubois commented on #12
At least it now works for me, that was a really stupid bug!!!

@kaitlin-farr thanks a lot, and if you can try again I would really appreciate it

[2017-08-23 19:33] kaitlin-farr commented on #12
Now, it works for me, too!

[2017-08-24 07:11] danielpetisme opened #13 "Provide IDE integration based on the API"
Now that we can generate a jhipster project using an API, we could imgaine to propose wizards for the most common IDEs to create a jhipster project.
Starting point of the discussion: https://twitter.com/pibesson/status/900454148998606848

Based on [@jdubois comment](https://twitter.com/java_hipster/status/900463313020223489) most of the logic is in the front-end app.

[2017-08-24 08:40] jdubois commented on #12
Thank you so much!

[2017-08-24 08:40] #12 closed

[2017-08-24 09:42] jdubois commented on #13
Yes the annoying part is that there is some logic in what is being sent: for example, only microservices can be created without a database...
This logic has been implemented in the generator, and I recoded it in the Angular form. Coding it one more time is really annoying, and it also adds maintenance.
Aside from this part, it should be really easy to do: in the Angular form I just create the `.yo

[2017-08-24 13:03] PierreBesson commented on #13
For this feature, it would be good to enable swagger, so that the docs will show up here: https://start.jhipster.tech/swagger-ui/index.html

[2017-08-25 08:56] erwinyo87 opened #14 "Failed to sign in!"
When i register, im using my email as username, and already activate the email below
-------------------------------------------------
Dear erwin.yo87@gmail.com

Your JHipster Online account has been created, please click on the URL below to activate it:
--------------------------------------------------
after activate, i login to jhipster-online then error:

Failed to sign in!
Did you use your us

[2017-08-25 09:02] jdubois commented on #14
Oh I see, you're using your email address both for email and username - why not :-)

That shouldn't make any difference, but I do see the login errors - are you sure you are using the right password? Your account is correctly activated, everything should work

[2017-08-25 09:05] erwinyo87 commented on #14
ah isee, i misspell my password,

i just seeing that response:
Failed to sign in!
Did you use your username, and not your e-mail address?
Please check your credentials and try again.

so i thought my username is not working
thanks jdubois

[2017-08-25 09:09] jdubois commented on #14
Great, thanks - and don't hesitate to send feedback!

[2017-08-25 09:09] #14 closed

[2017-08-30 12:22] yfain opened #15 "The generated app doesn't show the menu Languages"
Overview of the issue

The online-generated monolithic app doesn't show the menu Languages, while the locally-generated app does.

Motivation for or Use Case

The online-generated app should be consistent with locally-generated app in terms of the internationalization support.

Reproduce the error

Download and run the newly generated monolithic app from http://bit.ly/2gmzZN7

JHipster info

Using

[2017-08-30 15:39] PierreBesson commented on #15
Thanks for the report @yfain. I found the bug ! :smiley:

I regenerated your nyc1 app with `jhipster --force` and there was no difference at all. So no issue on this side, JHipster Online is correctly generating the app from the yo-rc which was provided.

However when I started the app, indeed you cannot change the language, so I suspected that there is an issue with the `.yo-rc.json` file generat

[2017-08-30 16:33] ruddell commented on #15
@PierreBesson Shouldn't we fix the generator to use the `nativeLanguage` we already store ourselves instead of `prompts.nativeLanguage`?

[2017-08-30 23:02] PierreBesson commented on #15
@rudell, I don't know much about how the .yo-rc is generated by the cli so if you think this can be fixed in the generator then please go ahead.

[2017-08-31 14:02] jdubois commented on #15
Yes you are both right:

- there's probably an issue in the generated .yo-rc.json
- but the cli should also be more robust and solve this

Le 30 août 2017 19:02, "Pierre Besson" <notifications@github.com> a écrit :

@rudell, I don't know much about how the .yo-rc is generated by the cli so
if you think this can be fixed in the generator then please go ahead.

—
You are receiving this because you w

[2017-08-31 16:55] akahky opened #16 "JHipster online Forgot Password not working"
JHipster online forgot password dialog is not working correctly, you can enter your email address and press Reset then you will not get any email about the password changes and the email address field will not be cleared.

[2017-08-31 21:34] deepu105 commented on #15
I think the prompt Value section is coming from yeoman somehow(it started
to appear after our upgrade ro yeoman 1.0), may be for items having a
default value?
But in either case that part should not matter and should not be used for
config. I thought it was something yeoman used internally thats why didn't
bother about it. I didn't know it was causing issue. It might be a yeoman
issue as well.

On

[2017-09-04 09:17] jdubois commented on #16
I do see some "reset password" e-mails in the logs, so I think this is working correctly... Can you give me your login name, so I test just for you?

[2017-09-04 09:17] jdubois commented on #11
thanks, this is done (will be in the next release)

[2017-09-04 09:17] #11 closed

[2017-09-07 13:50] jdubois commented on #16
Closing as we got no answer.

[2017-09-07 13:50] #16 closed

[2017-09-07 15:15] jdubois commented on #15
Not sure about this: @PierreBesson in fact you have no translation in the first file because you have `"enableTranslation": false` int it... So that's normal.
I'm doing more tests.

[2017-09-07 15:22] jdubois commented on #15
In fact this value is also set to `false` in the test `.yo-rc.json`, so that's "normal". But we should improve the UI, and not show any language if "no" is selected.

[2017-09-07 15:22] #15 closed

[2017-09-12 21:14] szewczyk opened #17 "I am not able to use .pro email for registration and this in not fake email."
I am not able to use my private email within the .pro domain.

[2017-09-12 21:36] jdubois commented on #17
MailGun does tell me it sent you the email, and that you received it... Just in case, I validated your email manually, so you can now login using your username + password

[2017-09-12 21:36] #17 closed

[2017-09-21 06:00] infomaven opened #18 "Unable to create new account"
I used the site to create a new account from scratch.
- When I tried to log in, my password was rejected
- When I used password recovery link I got an error saying my "email not registered"
- When I tried to create a new user account to register the email, I got an error saying "email and username already taken"

This seems to be an endless loop of frustration.   :(

[2017-09-21 07:05] jdubois commented on #18
I'll have a look - can you tell me the username you used? Or when you
registered ?

Le 21 sept. 2017 8:00 AM, "Nadine Whitfield" <notifications@github.com> a
écrit :

[2017-09-21 07:20] jdubois commented on #18
OK I found you :-)
I had no idea we had so many people registering!!

[2017-09-21 07:29] jdubois commented on #18
- In my logs you did receive an email to activate your account, but as it's not activated, I guess you didn't see it
- As your account is not activated, you can't log in (so that explains your first point)
- I'm not sure about your second point, but if the account isn't activated, I'm not sure you can recover your password ->this is the "standard" JHipster workflow, and to be honest I don't rememb

[2017-09-21 07:29] #18 closed

[2017-09-21 23:21] infomaven commented on #18
Thanks for following up.

I ventured into my junk mail folder, and sure enough, there was an email from my registration on Tue.

Thank you for activating my account.

 I would hate for someone else to claim that username :)

Nadine

Sent from my iPhone

On Sep 21, 2017, at 12:29 AM, Julien Dubois <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #18<https://github.com/jhip

[2017-09-26 07:07] shiLinTan opened #19 "new features we will release,some my suggestion"
the online generator is building successful ,so i can do not to install some busy software in my person computer ,note that my system is window7 64bit now,so ?in some day ago ,in order to use it ,i must to rebuild my pc,now is not necessery,seconde is the oncline JDL-Studio is builded successful,so i think sometimes we need to improve the  online generator to import jh file,very hope it as soon as

[2017-09-26 08:31] jdubois commented on #19
Yes I'd love to have JDL integration in JHipster Online. Unfortunately we don't have the time to code this at the moment, but I guess that would be just a couple of days of code.
I'm closing this as yes, we will do it!!!

[2017-09-26 08:31] #19 closed

[2017-10-20 08:28] KassemAlsayed opened #20 "not able to sign in"
just registered (kassem.Ali@innovapost.com), but not able to sign in. getting:

_Failed to sign in!
Did you use your username, and not your e-mail address?
Please check your credentials and try again._

Thanks

[2017-10-20 09:18] jdubois commented on #20
Yes, as said in the error message `Did you use your username, and not your e-mail address?` -> I see in the logs you used your e-mail address, and not your username. So you should use your username.

[2017-10-20 09:18] #20 closed

[2017-11-18 16:54] hdurix opened #21 "Translation and additional language bug"
When you activate translation support and choose a main language without selecting it in additional languages, no translation is found when running the app.

For example, I chose "French" as my main language and "English" as additional language, only "en" is present as languages in `.yo-rc.json`, see https://github.com/hdurix/testOnline/blob/master/.yo-rc.json#L28

The bug is not present in the ba

[2017-12-10 22:52] pascalgrimaud commented on #21
The bug has been reported here: https://github.com/jhipster/generator-jhipster/issues/6713

As I didn't watch this repository, I didn't notice it before.
Now, I wonder if the ticket should be opened here or at generator-jhipster

@hdurix : as it has been fixed, you can close it :)

[2017-12-11 10:28] hdurix commented on #21
Thanks! Yes @jdubois told me he fixed the bug and I forgot to close it.

You're right, it's probably better to open the issues in generator-jhipster, especially with the current work to gather all the JHipster projects in the generator repository.

[2017-12-11 10:28] #21 closed

[2017-12-12 18:01] imadbougataya opened #22 "Login not working after new account creation"
Hi,

I have just created an account for JHipster online, at first try after activation, password not recognized. Changed the password and proceeded to login again, and again password not working.

I have been careful in typing the password, so there's got to be another problem there.

[2017-12-12 18:15] jdubois commented on #22
Are you sure you used your username and not your e-mail?

[2017-12-12 19:54] jdubois commented on #22
I just had a look in the logs and you used your e-mail address. You should use your username to log in.
This will be solved soon, you will be able to use both.

[2017-12-12 19:54] #22 closed

[2017-12-12 23:54] gmarziou opened #23 "Registration mail delayed"
Hi Julien,

I registered and it took 15 minutes or more before I received the registration confirmation mail, I did not measure time as I first thought that the mail was not sent.

I received mail at 12/12/2017 22:36 for gmarziou user, maybe you could compare with the date in logs.

[2017-12-13 09:53] jdubois commented on #23
Yes I found you in the logs, this is because there was an error from the free.fr servers:

[code]

[2017-12-13 09:53] #23 closed

[2018-01-11 08:58] trblft opened #24 "Can't get an activation link email"
Hi,
I just tried twice to register on jhipster online.
I got a message telling me to check my email twice.
On the two emails I provided, no message received more than 30mn after registering.
Will this be fixed soon?
Have a nice day.

[2018-01-11 09:03] jdubois commented on #24
Are you the person having a "@gmail.com.tr" email? Maigun says it's not a correct MX server so the problem is on your mail provider

[2018-01-11 09:03] #24 closed

[2018-01-11 11:49] nashcrash opened #25 "Registration email not received"
I signed up for junkster online with "nashcrash" account and my email, but I did not receive the registration email.
**Is there a way to request it again?**

If I try to log in with username and password entered at registration, it tells me "the user does not exist".
If I try to reset the password, it tells me that "the email does not exist".
If I try to re-register, it tells me "the user and the

[2018-01-11 14:21] jdubois commented on #25
That's because your email address is not validated yet.
Either validate it, or wait for 48 hours and it will be cleared up automatically.

[2018-01-11 14:47] nashcrash commented on #25
Oh, sorry.
Oh sorry. I did not realize that I had to wait up to 48 hours...

Thanks for the reply.

"NashCrash"
nashcrash@sitissimo.it

2018-01-11 15:21 GMT+01:00 Julien Dubois <notifications@github.com>:

[2018-01-11 21:08] jdubois commented on #25
Hang on, there's a problem with mailgun -> I'm solving that, I'll then send emails individually to everyone impacted

[2018-01-11 21:08] #25 closed

[2018-01-13 15:44] dmartinvega opened #26 "Can't register in JHipster Online Platform"
Hi!

I can't sign in to JHipster Online because the confirmation e-mail never arrived and when I try to sign in it says that I'm not registered yet but when I try to register again a warning says I'm already registered.

Thank you.

[2018-01-13 18:20] jdubois commented on #26
Mailgun (our e-mail provider) was down for a couple of days, but yesterday I fixed it and sent all the missing e-mails - can you check?
Otherwise please give me your login name and I'll activate your account manually.

[2018-01-13 22:30] dmartinvega commented on #26
I just checked and I didn't receive it.

My login name is dmartinvega and the e-mail address is dmartinvega@gmail.com

Thank you so much.

[2018-01-13 22:33] jdubois commented on #26
Done :-)

[2018-01-13 22:33] #26 closed

[2018-01-18 13:59] Excalibure86 opened #27 "Registration"
Hi,
I'm trying to register to jhipster online but i didn't get the confirmation mail to confirm it.
I used Gmail and my personnel domain name.

[2018-01-18 14:41] jdubois commented on #27
Thanks so much -> it looks like Mailgun is having issues (again!!), I'm restarting the server, give me 2 minutes :-)

[2018-01-18 15:01] jdubois commented on #27
It should be good now, and I have manually activated your account.

Thank you so much!

[2018-01-18 15:01] #27 closed

[2018-01-18 15:02] Excalibure86 commented on #27
Thank you , i have recieved my confirmation.

[2018-01-18 15:04] jdubois commented on #27
Oh, did you still get an e-mail message from JHipster Online? (not the one I sent personally)
It must have been in a queue somewhere, but it doesn't even show up on the mailgun logs! Can you confirm this?

[2018-01-21 17:39] ruddell opened #28 "Disable OIDC + AngularJS"
I just helped out someone who used https://start.jhipster.tech to create his project and he ran into this issue (OIDC is not implemented for AngularJS).  We have a special condition in the generator that handles adding AngularJS to the clientFramework list if not using OIDC ([client/prompts.js](https://github.com/jhipster/generator-jhipster/blob/master/generators/client/prompts.js#L46-L50)), I'm n

[2018-01-21 18:16] jdubois commented on #28
Thanks @ruddell - yes I just need to remove it from the options on the Angular form

[2018-01-25 14:11] jarielpa opened #29 "Monolithic application has @EnableDiscoveryClient in App"

[2018-01-25 14:32] ruddell commented on #29
@jarielpa This happens when you choose Yes to **Do you want to use the JHipster Registry to configure, monitor and scale your application?**

If you don't want to use the registry or Eureka, choose No

[2018-01-25 17:00] jarielpa commented on #29
I did choose no, at least there was no maven dependency. Generated code could not compiled

Lähetetty iPhonesta

[2018-01-25 17:04] ruddell commented on #29
Do you have a link to a Github repository showing the project you generated?  Or at least the config from your `.yo-rc.json`?

I generated a monolith with both Yes and No for JHipster Registry and they both compile without issue.

[2018-01-25 17:15] jarielpa commented on #29
https://github.com/jarielpa/jhipsterSampleApplication.git

It is now not compiling because I was testing jdl stuff,.

{
"generator-jhipster": {
"applicationType": "monolith",
"gitHubOrganization": "jarielpa",
"baseName": "jhipsterSampleApplication",
"packageName": "io.puhos.jhipster.application",
"serverPort": 8080,
"serviceDiscoveryType": "false",
"authenticationType": "session",
"uaaBaseName": "

[2018-01-25 17:25] ruddell commented on #29
@jarielpa Thank you

@jdubois This looks like it is because of `    "serviceDiscoveryType": "false",` where false is a string instead of a boolean.  This happens if you select `Yes` and then change your mind and select `No` (on the JHipster Registry option).

[2018-01-25 20:16] jdubois commented on #29
Thanks @ruddell I'll need to update this

[2018-01-25 22:31] jdubois commented on #29
It's corrected in our master branch

[2018-01-25 22:31] #29 closed

[2018-01-25 22:31] jdubois commented on #28
It's corrected in our master branch

[2018-01-25 22:31] #28 closed

[2018-02-01 08:53] trblft commented on #24
Yes, that was me. It works now, but I did nothing, can't get the reason why it failed. Thanks anyway, have a nice day.

[2018-02-01 08:54] jdubois commented on #24
Maybe it came from Mailgun, we have problems with them at the moment

[2018-02-11 10:18] GLLeague opened #30 "Registration"
Hi,

probably I have the same problem with registration - #27

I'm trying to register to jhipster online but i didn't get the confirmation mail to confirm it.
I used Gmail and my personnel domain name.

[2018-02-11 10:41] jdubois commented on #30
Thanks! I hope that's not broken again :-(
Let me check

[2018-02-11 10:42] jdubois commented on #30
Thanks a lot, that's clearly broken. We have hundreds of people who registered and are blocked, you're the first one to a ticket, thanks a lot!!!

[2018-02-11 10:58] jdubois commented on #30
I'm activating every user manually and will send everyone an email when it's done - of course we have something like 200 new users in the last 2 days, so that will take some time :-(

[2018-02-11 11:15] jdubois commented on #30
Done :-)
Thanks so much @GLLeague

[2018-02-11 11:15] #30 closed

[2018-02-14 14:17] fredusername opened #31 "Configure JHipster Online to access my GitHub account FAILS"
1. I click on ``Authorize JHipster" within Github
2. JHipster appears in Authorized OAuth Apps
3. Back to JHipster, I get ``  Warning! To generate your application on GitHub, you must authorize JHipster"
4. I click on ``Authorize JHipster" within Github
5. Back to (1.)

[2018-02-14 14:20] jdubois commented on #31
Where do you see that step 1, "authorize JHipster" within GitHub?

[2018-02-14 16:24] fredusername commented on #31
Got it

It’s a Safari problem. Works fine with Chrome under MacOS

+F

[2018-02-14 19:01] jdubois commented on #31
OK it's interesting to know - I'll try to reproduce

[2018-02-14 19:01] #31 closed

[2018-02-21 16:32] FAMILIAR-project opened #32 "Configurator and propagation choices"
Hi,

It is not really an issue, but an open question driven by curiosity ;)
The website is fantastic and the configurator seems nicely implemented.
In particular, at each selection by a user, there is a "propagation" to other choices, forcing other values (with implications/exclusions)

I am wondering how it is implemented: do you rely on facilities offered by Inquirer https://github.com/SBoudrias

[2018-02-21 17:24] jdubois commented on #32
You're going to be disappointed: this is hand-coded! I "know" what to
propagate, and I also copy stuff from the generator. So nothing very smart
here!!

Le 21 févr. 2018 17:32, "FAMILIAR project" <notifications@github.com> a
écrit :

Hi,

It is not really an issue, but an open question driven by curiosity ;)
The website is fantastic and the configurator seems nicely implemented.
In particular, at

[2018-02-22 15:27] jdubois commented on #32
In fact it can be wrong in some places, the only "correct" workflow is the one from the generator - too bad it can't be easily used, I know it would be useful for your work @FAMILIAR-project

[2018-02-22 15:27] #32 closed

[2018-03-02 06:51] kktam opened #33 "JHipSter online generated gradle project opens with blank page"
Project options:
- Application type - monolithic
- package name = io.github.jhipster.application
- port = 8080
- auth = HTTP Session Auth
- db = MongoDB
- build = Gradle
- framework = Angular 5
- testing = Cucumber

The project is built and run with "gradlew bootrun", but the page served from http://localhost:8080 is blank.

Open the source reveal there is no javascript links in it.

[code]

I hav

[2018-03-02 07:01] pascalgrimaud commented on #33
You should read the generated README file, there are full instructions here.
The page is blank because you didn't compile the front.

You need to:
- ./gradlew
- yarn start
in 2 separate terminals.

[2018-03-02 09:33] jdubois commented on #33
Yes @pascalgrimaud is correct

[2018-03-02 09:33] #33 closed

[2018-03-08 01:06] ruddell opened #34 "JDL Studio Inaccessible"
https://start.jhipster.tech/jdl-studio/ is not working, it appears to be looking for `index.html.htm` instead of `index.html`.

It does work if you specify index.html like https://start.jhipster.tech/jdl-studio/index.html
[code]

[2018-03-08 06:31] jdubois commented on #34
Thanks @ruddell - I just restarted the server, and it's working again.

It is the second time this happens, so it's not very often, but still that's worrying:

- It looks like after "some time" Thymeleaf crashes. And that would be a Thymeleaf bug, so that could be quite annoying for us.
- As it already happened once, I was monitoring this page with a Google Cloud Healthcheck, which runs every 5 mi

[2018-03-08 06:31] #34 closed

[2018-03-27 11:35] jdubois opened #35 "TODO for JHipster v5"
- [x] Remove the "social login" option
- [x] Add the React option
- [x] A gateway with OAuth2/UAA needs to have a database (at least for now)
- [x] When OAuth2 is selected, you cannot select Cassandra

[2018-03-29 18:37] darioajr opened #36 "Source code of jhipster-online"
Is jhipster-online source code disponible ?

[2018-04-10 13:01] jdubois opened #37 "Production crash on https://start.jhipster.tech/jdl-studio/"
The Web page on https://start.jhipster.tech/jdl-studio/ crashes from time to time:

- This has already happened 3 times
- This doesn't seem correlated with anything else: I guess there's one user who triggers the bug, but I have no idea how he does that

I'm doing this ticket mainly for @danielfernandez as I believe this is an interesting Thymeleaf issue, but for us this should be solved in the fu

[2018-04-10 13:11] danielfernandez commented on #37
Thanks. Thymeleaf has no reason to automatically add a `.htm` suffix to any template resolution operations unless specified so, and from #34 I see that while this is failing the `/index.html` still works. So my first approach would be to think that maybe there is a proxy or a web filter that somehow starts resolving `/` into `/index.html.htm` instead of `/index.html`. Could that be a possibility?

[2018-04-10 13:24] jdubois commented on #37
Thanks @danielfernandez !
This is on a modified JHipster 4 version:

- Thymeleaf 2.1.5
- Configured using Spring Boot 1.5.6

The Web page is in `src/main/resources/static/jdl-studio` which is the standard Spring Boot directory for static assets.

And as I didn't want this page to be loaded by Thymeleaf (it's standard HTML), I did in my Spring Boot config:

[code]

[2018-04-10 15:11] danielfernandez commented on #37
Thanks. So I assume you are using the default autoconfiguration for Thymeleaf 2.1 in Spring Boot 1.5. If I'm right, this means that Thymeleaf has no reason to be resolving or trying to process static resources in `src/main/resources/static` unless your boot configuration specifically says so, as Spring Boot places Thymeleaf templates in `src/main/resources/templates` and adds this folder as a `pre

[2018-04-10 18:18] danielfernandez commented on #37
OK, this is an interaction between the `ThymeleafViewResolver` and Spring Boot 1.5's `ContentNegotiatingViewResolver`, which calls the former and at some point is *learning* that `.htm` is a valid suffix for view names corresponding to requests that have expected media type of `text/html`, and since that moment on is always forcing Thymeleaf to resolve a `/jsl-studio/index.html.htm` template after

[2018-04-11 19:32] danielfernandez commented on #37
So, this only happens in Spring Boot 1.5.x, not in Spring Boot 2.0.x.

First, some preliminary context on view resolution and content negotiation (valid both for Spring Boot 1.5.6 and 2.0.1):

  * **I**. View resolution in Spring Boot is based on a `ContentNegotiatingViewResolver`, which internally queries a sequence of `ViewResolver` instances. In this case, the important ones are `ThymeleafViewR

[2018-04-11 19:55] jdubois commented on #37
Thank you so much @danielfernandez !!!
As I said on Twitter at https://twitter.com/java_hipster/status/984156645344337926 I have found the issue thanks to you!
I'll correct this tomorrow - sorry I'm not posting details here, or anyone will be able to easily crash the application :-)
So I'll give them once it's corrected!

[2018-04-12 13:08] jdubois commented on #37
The server is updated, no crash anymore :-)

@danielfernandez was of course right, it's an issue with Spring Boot's `ContentNegotiatingViewResolver` which indeed "learned" to use Thymeleaf for the https://start.jhipster.tech/jdl-studio/ URL.

- To make the server crash, you needed to use an "*.htm" URL inside the /jdl-studio/ directory (no problem in the other directories!)
- As we get hack attemp

[2018-04-12 13:08] #37 closed

[2018-05-05 02:11] eshaprasadts opened #38 "GitHub Access Issue for online project creation"
Even after giving access & confirming the access using GitHub alert email, the Online Application Creation is not recognizing the link and behaves as though access is not provided.

[2018-05-05 04:33] jdubois commented on #38
I'm sorry I don't get the "GitHub email alert" part, do you mean you clicked on https://start.jhipster.tech/#/github and then get some error when generating the application on GitHub? Could you give your username I'll have a look in the logs.

[2018-05-05 05:43] eshaprasadts commented on #38
Hi,  I am still seeing    "Warning! To generate your application on GitHub, you must authorize JHipster Online to access your GitHub account. You will only be able to download your application as a Zip file" even if I have given permission.
FYI:
![git_access](https://user-images.githubusercontent.com/29681595/39660072-3bd9a248-4ffd-11e8-9f49-e2d5b1679b5c.png)

[2018-05-05 06:08] jdubois commented on #38
Oh thanks, there must be a regression following yesterday's migration - not sure what this is as I don't remember changing anything there.
I'll update the ticket when it's corrected, hopefully very soon.

[2018-05-05 10:36] mmanrai commented on #38
FYI... I am having the exact same issue. I have authorised jHipster to access my GitHub account. If i login to my GitHub account, I can see that the access has been granted. However, JHipsterOnline thinks that my GitHub account is not linked and shows me following message "JHipster is not linked to your GitHub repository."

[2018-05-05 10:56] jdubois commented on #38
Thanks a lot, that's really weird. Can you give me your username? Not sure I can fix this during the weekend

[2018-05-05 12:16] jdubois commented on #38
OK I found the bug, it's my fault!! A bad search & replace command!
Thanks a lot @eshaprasadts @mmanrai for reporting this issue!

Not sure when I'll have time to correct, but that will only take me 5 minutes :-)

[2018-05-05 14:05] mmanrai commented on #38
Cheers!

[2018-05-05 17:15] jdubois commented on #38
This should be fixed now, can you @eshaprasadts @mmanrai could you do a test? Sorry for that issue!

[2018-05-07 15:58] jdubois commented on #38
Closing the ticket - I see people generating projects successfully on GitHub, so I know it works!

[2018-05-07 15:58] #38 closed

[2018-06-04 22:09] jcm-altia opened #42 "Not able to login to Jhipster Online"
Hello,

I have registered the user jcm-altia with my email address, but neither received confirmation email, nor able to login. New attempt to register throws error (login already in use, email address already in use).

Can you please check?

[2018-06-04 22:15] jdubois commented on #42
Checking right now

[2018-06-04 22:17] jdubois commented on #42
- e-mails seems to be sent OK
- when did you create your account? I'm trying to find it

[2018-06-04 22:20] jdubois commented on #42
Oh I got your account, it's indeed not activated, let me check why

[2018-06-04 22:22] jdubois commented on #42
According to Mailgun you did correctly receive the activation email, there shouldn't be any problem at all.
I'm activating it manually, so it's all OK.

[2018-06-04 22:22] #42 closed

[2018-06-12 15:04] mraible opened #43 "Allow GitHub repo and application name to be different"
When I created my [jhipster4-demo](https://github.com/mraible/jhipster4-demo), I used "blog" for the name and "jhipster4-demo" for the repository name. It'd be awesome if I could do the same with JHipster online.

[2018-06-14 09:34] chrisdns commented on #43
We just added the feature, it should be merged soon with the GitLab support

[2018-06-20 14:18] #35 closed

[2018-07-16 11:29] pascalgrimaud opened #53 "Add Docker Hub image"
Similar to what is done with [jhipster-registry](https://github.com/jhipster/jhipster-registry), we need to have an official image for jhipster-online in Docker Hub.

2 parts for this:
- add configuration at Docker Hub: I can take this part
- add a Dockerfile at root folder (similar to jhipster-registry, but we need to add some additional tool like node, etc)

@agaspardcilia : tell me if you want

[2018-07-16 11:42] agaspardcilia commented on #53
@pascalgrimaud Go on, I'm pretty busy atm. Thank you.

[2018-07-16 11:43] jdubois commented on #53
Yes totally. And our prod server should use it!

[2018-07-16 19:43] pascalgrimaud commented on #53
@jdubois : I reopen this ticket, because I need you to configure GitHub for this repo, to activate hook for Docker Hub:
- go to settings in this repo
- then, Integrations and services
- check if Docker is :heavy_check_mark:

I already did the Docker Hub part and the PR.
Thanks in advance

[2018-07-17 08:56] jdubois commented on #53
@pascalgrimaud I just added the Docker service on GitHub, but there is this warning:
[code]
Shouldn't we migrate to Webhooks instead?

[2018-07-17 16:21] pascalgrimaud commented on #53
@jdubois : FYI, see https://developer.github.com/changes/2018-04-25-github-services-deprecation/

May 31, 2018: Submit your intentions for migrating or replacing your GitHub Service.
October 1, 2018: GitHub discontinues allowing users to install services. GitHub Services will be removed from the GitHub.com UI.
January 31, 2019: GitHub stops delivering installed services' events on GitHub.com.

[2018-07-27 16:02] mlstoppa opened #62 "Unable to reset my password"
Hello,
I am trying to reset my login's password but when I click on "Did you forget your password?" button it says "Emails are disabled on this server! You will need to ask an administrator to provide you a password reset link."
My login name is mlstoppa, and I am sure it exists because I can't register again with the same login credentials.
Can you help me?
Thank you

[2018-07-27 17:10] jdubois commented on #62
Oh that's a bug! @chrisdns @agaspardcilia can you have a look?

[2018-07-27 18:11] pascalgrimaud commented on #62
Maybe it's this property `jhipster.mail.enabled` is missing for prod profile.

See in dev, it's active https://github.com/jhipster/jhipster-online/blob/master/src/main/resources/config/application-dev.yml#L116

In prod, it's missing: https://github.com/jhipster/jhipster-online/blob/master/src/main/resources/config/application-prod.yml#L108-L110

@jdubois : do you want me to PR to change this confi

[2018-07-27 18:13] agaspardcilia commented on #62
Yes, it's probably just a configuration issue.

[2018-07-27 18:19] pascalgrimaud opened #63 "Unable to start the application with swagger"
I got this error in dev, related to swagger. I need to disable it to be able to start the application.
Did you encounter this issue @agaspardcilia @chrisdns ?

To reproduce it:
- clone this project
- yarn install
- yarn webpack:build
- mvn

[code]

[2018-07-27 18:35] agaspardcilia commented on #63
No, I didn't, that's weird because I use swagger a lot to test stuff.

On Fri, Jul 27, 2018, 20:19 Pascal Grimaud <notifications@github.com> wrote:

[2018-07-27 18:35] jdubois commented on #62
Oh I can try it in prod - I'm with my phone, but I like to live dangerously:-)

[2018-07-27 20:12] jdubois commented on #62
Can you test now ? I'll have a look tomorrow

[2018-07-27 20:20] pascalgrimaud commented on #62
It works. Thanks @jdubois !
Seriously, with your phone lol...

[2018-07-27 20:20] #62 closed

[2018-07-30 14:57] pascalgrimaud commented on #63
Oh I see, thanks for the information.
Need some time to think about a solution

[2018-07-30 18:32] deepu105 commented on #63
@agaspardcilia make it a profile `gcp` so that its included when using that profile and in our `jhipster-online` environment we can enable it

[2018-08-06 08:59] brunomendola opened #66 "Never received activation mail"
Hi, I registered a few days ago (with the same username as in Github) and I never received the activation mail.

The site doesn't let me register with the same mail, so I know I entered it correctly.

Login and Reset password don't work and there is no way to resend the activation mail.

Please, could you activate my account?

Maybe there is a problem sending to Hotmail/Outlook.com?

Is the "resen

[2018-08-06 09:39] jdubois commented on #66
Hi, I did find your username: you registered 2 days ago in the afternoon... the registration links gets deleted every 2 days if it's not used, so if you missed the registration email you'll be able to create a new account tomorrow.
If you still don't get it, maybe it's an issue with your email provider which is black listed (typically for spam). Just ask me again and I'll activate it manually (but

[2018-08-06 09:39] #66 closed

[2018-08-07 19:54] brunomendola commented on #66
Hi @jdubois ,

please, 2 days have passed and I still can't login nor register:

- login fails "Failed to sign in! Please check your credentials and try again."
- reset password says "Email address isn't registered! Please check and try again."
- registration says "Email is already in use! Please choose another one."

Thank you.

[2018-08-07 20:42] jdubois commented on #66
Yes that was all because your email wasn't validated yet - I'm not sure why it wasn't deleted, I will check that.
Anyway, I validated it manually, you should be able to log in.

[2018-08-07 20:48] brunomendola commented on #66
Thank you!

[2018-08-13 13:08] jdubois commented on #13
As you can see from https://github.com/ippontech/blog-usa/pull/40 it's already easy to do, but you need to have an account.
(btw @colameo this should be interesting for you)
At the moment I still want to have people to create a registered account, so we don't have people who spam the project. I want good statistics and real users.

[2018-08-13 13:08] #13 closed

[2018-08-13 13:09] jdubois commented on #43
It's already merged so I'm closing this.

[2018-08-13 13:09] #43 closed

[2018-08-13 15:08] #63 closed

[2018-08-15 18:06] Gcchao opened #72 "Registration"
I can't register at Jhipster online, I didn't get any confirmation email... I tried my gmail. outlook, hotmail....

[2018-08-16 07:38] jdubois commented on #72
I don't find any issue at the moment.... Can you tell me the username you used to register, so I can check if there's something in the logs?

[2018-08-17 15:34] jdubois commented on #72
No news so I'm closing this, everything looks good on this part at the moment

[2018-08-17 15:34] #72 closed

[2018-08-17 15:40] jdubois opened #75 "Constraint violation with the new statistics"
When creating a new statistic, we have quite often a constraint violation.

From my understanding, this is because we send several events at the same time, and each of them create the guid if it doesn't exist yet, in `GeneratorIdentityService.findOrCreateOneByGuid`: this is typically a concurrency issue, when 2 different events try to create the same guid (as it has a unique constraint).

I'm not

[2018-08-20 09:33] jdubois commented on #75
Closing this as I fixed it. It's kind of ugly as at some point I need a `synchronized` to remove those errors (and in the end it is more correct and more performant than making the database have a constraint violation)

[2018-08-20 09:33] #75 closed

[2018-08-21 18:55] ruddell opened #76 "Git Providers Loading Issue on Generate App page"
Navigating directly to the `generate-application` route (https://start.jhipster.tech/#/generate-application) and logging in results in an error message: `There is no Git provider available, please contact your administrator to configure one. You will only be able to download your application as a Zip file.` Refreshing the page fixes this

[Screenshot](https://user-images.githubusercontent.com/4294

[2018-08-21 19:01] jdubois commented on #76
Thanks @ruddell - please note that you should not be automatically logged in using "remember me" in order to get the bug (I took some time to understand!)

[2018-09-11 20:22] regisduflo opened #78 "No email received when creating an account on jhipster online"
No email received when creating an account on jhispter online
Tried to create 4 differents accounts but nothing received for activationg my account and so unable to sign-in on registered....

[2018-09-11 20:33] jdubois commented on #78
Let me check, thanks!

[2018-09-11 20:40] jdubois commented on #78
Oh, it looks like outlook.com and hotmail.com (I saw both your emails in the logs) are blocking our mail provider (Mailgun).
For the record, here is the error message:

[code]

@regisduflo I'm activating your account manually (the first one you created, `neptuneo`). I hope this is temporary, otherwise please contact me if you lose your password!

[2018-09-11 20:49] regisduflo commented on #78
Thanks a lot

[2018-09-11 20:53] regisduflo commented on #78
i'm able to connect with neptuneo thanks again

[2018-09-11 20:55] jdubois commented on #78
Great, thanks a lot!

[2018-09-11 20:58] jdubois commented on #78
If anyone reads this and has the same issue: please create a new ticket and I'll manually activate your account, too!

[2018-09-11 20:58] #78 closed

[2018-09-17 08:08] atomfrede opened #80 "Gitlab CI support"
Currently the CI/CD can only generate Travis/Jenkins Configuration. It would be cool to have it also generate gitlab ci configuration. What do you think?

[2018-09-17 08:12] jdubois commented on #80
Yes of course. Main issue for me is that it needs to run only with flags (no questions asked by the generator, or they will block the generation). Is that already the case?

[2018-09-18 16:14] QuentinFombaron opened #81 "Verification email not received when I tried to create an account on JHipster Online"
No email received when creating an account on JHipster Online.
I tried to create 2 different accounts but I received nothing to activate my account so I'm not able to sign-in.

The good email (**TO ACTIVATE**) : _q.fombaron@outlook.fr_
The second account to test (**TO IGNORE**) : _q.fombaron@hotmail.fr_

Thank you very much!

[2018-09-18 16:30] jdubois commented on #81
Yes sorry about this, Outlook and Hotmail block our emails. I need to check
with Mailgun support, it's their fault in fact.
I'll activate your account manually, and close this ticket when it's done.

Le mar. 18 sept. 2018 à 18:19, Quentin Fombaron <notifications@github.com>
a écrit :

[2018-09-18 19:08] jdubois commented on #81
Should be good, otherwise please add a comment

[2018-09-18 19:08] #81 closed

[2018-09-19 06:17] QuentinFombaron commented on #81
I works thank you very much! 👍

[2018-10-04 19:14] angeliski commented on #80
Hey @jdubois I can add A option `autoconfigure-gitlab` in the **generator-jhipster** and after update the **jhipster-online**, what do you think?

[2018-10-04 19:52] jdubois commented on #80
@angeliski not sure of what you mean, but yes if you can run the sub-generator without any prompts, then it's very easy to add to JHipster Online

[2018-10-04 20:56] angeliski commented on #80
Sorry @jdubois, I meaning if I can do a PR to improve that in the project.
First I could make a PR to add the autoconfigure in generator, after another PR to add the option in that project. What do you think?

[2018-10-05 07:40] agaspardcilia commented on #80
@angeliski Sure, the current configuration was generated by JHipster Online itself, it's quiet generic so if you have any suggestion about it any PR is welcome.

[2018-10-06 11:16] pascalgrimaud commented on #80
@angeliski : if you decide to add gitlab to jhipster-online, can you consider adding azure pipelines too plz ?
See https://github.com/jhipster/generator-jhipster/pull/8478 as soon as it's merged

[2018-10-06 11:56] angeliski commented on #80
Sure @pascalgrimaud when it's merged I will open a PR

[2018-10-06 14:12] pascalgrimaud commented on #80
So nice ! My PR has been merged by @atomfrede !

[2018-10-08 14:16] #80 closed

[2018-10-11 10:56] agaspardcilia commented on #76
I'll try to PR something about it this week end.

[2018-11-20 09:52] #76 closed

[2018-11-21 10:55] agaspardcilia opened #87 "Add some more graphs to the statistics page"
This issue is meant to keep track of graphs that should be added to the statistics.

- [ ] serviceDiscoveryType
- [ ] authenticationType
- [ ] searchEngine
- [ ] websocket
- [ ] clientPackageManager
- [ ] enableTranslation

Most of those are stored in a `YoRC` entity, which should let easily create a bunch of graphs.

@PierreBesson wdyt? If you got some more in mind just drop them here.

[2018-11-21 12:37] PierreBesson commented on #87
Yes I have some more ideas:
- entity statistics (dto, serviceImpl, etc.)
- blueprint stats (this might need some change on the CLI in order to report the specific blueprint used)

[2018-11-26 16:10] agaspardcilia opened #88 "Update logos"
We should update JHipster Online artworks to be consistent with the rest of the JHipster project.

[2018-11-26 22:03] #88 closed

[2018-12-05 16:16] hdurix opened #90 "Add ability to choose a module/blueprint when generating the app"
It would be nice to be able to generate a Kotlin or Vue.js project directly from start.jhipster.tech, especially for demos!

I don't know if we can have a list of all the available module/blueprints like the CLI generator proposes it.

An other solution could be to have a input text `Additional options` in a new category `Advanced configuration` given to the `jhipster` command when generating the

[2018-12-06 14:44] pascalgrimaud commented on #90
It would be cool I think it is not possible.
In fact, each blueprint will have their own options, own questions and jhipster-online can't know in advance these options.

[2018-12-07 09:35] deepu105 commented on #90
Ya the only reliable way would be to provide an advanced generation page
which emulates a tty console where you can do some curated command line
actions(like the console from gcp for example) but that would be lot of
work I imagine

On Thu, 6 Dec 2018, 3:44 pm Pascal Grimaud <notifications@github.com wrote:

[2018-12-07 09:55] hdurix commented on #90
Yes I reckon that it won't be easy to integrate them, maybe we should close this issue :)

[2018-12-16 21:23] M-Fararjeh opened #91 "BitBucket configuration"
Hello all,

Please can you tell me If I can connect JDL to private BitBucket instance ? I need to apply entities  on the project using JDL.

[2018-12-17 08:34] chrisdns commented on #91
Hi,

At the moment JHipster Online only provides GitHub and GitLab as Git providers, but to achieve what you want you can still create a JDL file using the [JDL Studio](https://start.jhipster.tech/jdl-studio/) and import it into your project with `jhipster import-jdl <your_jdl_file>`

[2018-12-17 08:36] jdubois commented on #91
Yes, sorry but BitBucket integration isn't done (not even planned!).

[2018-12-17 08:36] #91 closed

[2018-12-17 09:05] atomfrede commented on #91
@M-Fararjeh Of course contributions welcome. Gitlab support was added that way too.

[2018-12-17 18:45] M-Fararjeh commented on #91
Thanks for replying, I wish to add this feature to the roadmap.

[2018-12-18 08:18] jdubois commented on #91
Awesome !
@M-Fararjeh it's probably not very hard if Bitbucket has a good Java library which can create projects, add contributors, do a PR... We are not doing something very complex, but you need the API to do this.

In order to have something  clean: could you create a specific ticket for this, to detail your work on this? I know some other people who might also be interested, I'll ask them if t

[2018-12-28 11:49] Belkacem opened #92 "JDL Studio <unique> keyword breaks the diagram sync"
When using the unique keyword in jdl studio, the diagram will break here's the error in the console :

`
Uncaught Error: MismatchedTokenException: Expecting token of type --> NAME <-- but found --> '}' <--
	at line: 36, column: 1
	at line: 36, column: 1
`

at Line 36 :

`
entity Type {
  type String required,
  code Integer required unique
}
`

[2018-12-28 16:48] murdos commented on #92
Existing issue on JDL Studio: https://github.com/jhipster/jdl-studio/issues/60

[2018-12-31 08:57] #92 closed

[2019-01-11 10:31] fleboulch opened #93 "Jhipster Online can't access Gitlab repositories"
I previously gave JHI Online access to my github account.
It worked well but when I tried to plug it to my gitlab account it returned the following error :
`JHipster has failed to reach your Gitlab repositories.`

However when I go to my gitlab settings I'm seeing jhipster in my authorized apps

Do you have any clue about this error?

[2019-01-11 13:35] jdubois commented on #93
I just tested and it "works on my machine"... Maybe your tokens have been invalidated, can you click on the "authorized" button to refresh your tokens?

[2019-01-11 13:55] fleboulch commented on #93
I'm using 2 different mail address for github and gitlab. To authenticate to jhi online I'm using the same I'm using for github.

Are you using the same mail address on both gitlab and github?

[2019-01-11 13:56] jdubois commented on #93
I'm probably using the same, then I don't know how that could be an issue, we should only use your OAuth2 token to authentify (but this has been refactored since I wrote the original code, so it may have changed).

[2019-01-11 14:36] fleboulch commented on #93
I tried to create another jhi online account with my gitlab email address but authorize gitlab button is still not working.

I get the following error 505 :

[code]

[2019-01-12 18:47] jdubois commented on #93
As I couldn't reproduce, @pascalgrimaud we can work on this on Tuesday as we will be at Ippon together.

[2019-01-12 21:27] jnloga opened #94 "Registration"
Hello,
Il have create an account but i never receive the email for validation.
I try with another email, and have the same problem.
can you help please?
Thanks
Regards

[2019-01-12 21:28] jnloga opened #95 "registration"
Hello,
Il have create an account but i never receive the email for validation.
I try with another email, and have the same problem.
can you help please?
Thanks
Regards

[2019-01-12 21:31] jnloga commented on #94
my username is jnloga (hotmail) and jgnloga (gmail).
problem with email confirmation.

[2019-01-13 08:18] jdubois commented on #95
Closing as duplicate of #94

[2019-01-13 08:18] #95 closed

[2019-01-13 08:19] jdubois commented on #94
You are correct, let me fix that!

[2019-01-13 11:39] jdubois commented on #94
Done, thanks a lot!!!!

[2019-01-13 11:39] #94 closed

[2019-01-14 16:49] agaspardcilia commented on #87
@PierreBesson I had a lot of work the past few weeks, I'll tell you once I started working on.

[2019-01-16 19:48] SheelaKumar opened #97 "Couldn't register"
Hi!

I can't sign in to JHipster Online because the confirmation e-mail never arrived and when I try to sign in it says that I'm not registered yet but when I try to register again a warning says I'm already registered.

Thank you.

[2019-01-16 19:53] jdubois commented on #97
Hi!
Looking at the logs you should have received the email (at least it reached your email provider!). Anyway, no worries: I activated your account manually.
Cheers,
Julien

[2019-01-16 19:53] #97 closed

[2019-01-17 09:02] deepu105 commented on #97
Julien may be we can think of using another email service (may be paid with
OC money) that doesn't get blocked by some email providers

On Wed, 16 Jan 2019, 8:53 pm Julien Dubois <notifications@github.com wrote:

[2019-01-17 09:06] jdubois commented on #97
Here it was probably lost in the spam folder.
Biggest issue is that outlook and hotmail are blocked (not the case here), but most importantly is that I have no time to check the issue wth Mailgun.

[2019-02-06 16:41] jdubois commented on #93
I'm sorry we didn't work on this with @pascalgrimaud - and I just tested again, and had no problem at all...
Maybe you need to click on the "configure" button again?

[2019-02-07 07:16] zargerubaid opened #98 "Issue creating entity using online JDL studio"
While creating entity for my project using JDL, i am not able to see the the graphical design and relationships between the entities.

Only default image is coming.

[2019-02-07 07:28] pascalgrimaud commented on #98
Hard to know what you did.
You need to provide more details, which screen, which url etc.

[2019-02-07 07:35] zargerubaid commented on #98
I am using this url :  https://start.jhipster.tech/jdl-studio/
[TravelTool.txt](https://github.com/jhipster/jhipster-online/files/2839737/TravelTool.txt)

These are going to by entities.

[2019-02-07 07:47] pascalgrimaud commented on #98
I suggest you to use VSCode with JHipster Plugin.
See https://www.jhipster.tech/jhipster-ide/

You'll see there are some errors in your JDL, like:
- Field name should start with a lower case
- REQUIRED in uppercase, instead of lowercase
- additional `,` at the end of the last entities
etc

That's why you didn't see anything.
I'm closing this, as it's not a JHipster Online bug.

[2019-02-07 07:47] #98 closed

[2019-02-07 07:52] pascalgrimaud commented on #93
Just tested again too, after resynchronizing my account and now, it works!
So I think we can close this.

Don't hesitate to comment if you still have the issue @fleboulch

[2019-02-07 07:52] pascalgrimaud commented on #90
Let's close this.

[2019-02-07 07:52] #90 closed

[2019-02-15 11:16] galants opened #99 "Cannot registration on site https://start.jhipster.tech/"
I try to register on site https://start.jhipster.tech/, but I'm not receiving an email.
When I reset my password, I get the wrong message "Email address isn't registered!".
But if I try to register on site, again. I give a message "Email is already in use!"

[2019-02-15 13:37] jdubois commented on #99
Thanks @galants - it's not your fault, we've had an issue for months with Mailgun not being able to send email to hotmail addresses.... so indeed you never got the message... So on the system the address is already in used, but not validated.

Anyway, I activated it manually, so it's good for you :-)

[2019-02-15 13:37] #99 closed

[2019-02-15 14:30] deepu105 commented on #99
Lets switch to another service using open collective funds if required

On Fri, 15 Feb 2019, 2:37 pm Julien Dubois <notifications@github.com wrote:

[2019-02-15 14:38] jdubois commented on #99
@deepu105 we could take a "pro" account at Mailgun, but this costs 79$ per month, I find it very expensive, just for a few people. It will be the easiest way of solving the issue.

[2019-02-15 14:43] jdubois commented on #99
Or we could remove the required email verification step. I'm using it for 2 reasons:

- reduce the number of spam account, but that's not a big issue in fact, as they can't do any real harm anyway
- protect people's data, as if you use a fake email account you can easily get hacked (trust me, I have a very common name, so many people use my email address.... even with their credit card attached to

[2019-02-15 14:54] pascalgrimaud commented on #99
Isn't possible to use GMail ?

[2019-02-15 15:09] jdubois commented on #99
You don't have access to port 25 from GCP. So you need an external API provider that will send the emails for you.

[2019-02-19 16:43] fleboulch commented on #93
It's still not working. I revoked jhipster access in GitLab settings several times. I don't know why you can't reproduce it. It's quite weird.
Currently, I don't need this feature as I'm using GitHub for personal projects. Maybe some people will have the same issue as I and comment this thread. Let's see..

Thanks @pascalgrimaud and @jdubois for your investigation

[2019-02-19 17:00] jdubois commented on #93
@fleboulch I have a doubt here: are you using start.jhipster.tech to connect to the public GitLab instance? And not your own instance of JHispter Online connecting to an on-premise GitLab instance?

[2019-02-22 21:57] fleboulch commented on #93
I logged on `start.jhipster.tech` and after I clicked on "Authorize GitLab" button on the configure menu as I previously done for GitHub

[2019-03-06 16:56] kawsurilu commented on #26
I also can't register. No email arrived. Username is kawsurilu

[2019-03-06 17:30] jdubois commented on #26
Indeed, it looks like yahoo.com is now blacklisting our emails!! Bad news :-(

@kawsurilu I activated your account manually, so it should work for you.

[2019-03-06 17:33] kawsurilu commented on #26
Yes, account is activated.

@jdubois  Thanks a lot.

[2019-03-14 14:17] azizkhani commented on #93
My account can not sync gitlab after . a few moth a go it works correctly but now dose not work to sync my repository . i revoke access and again dose not work .
my account : azizkhani

[2019-03-14 14:56] jdubois commented on #93
I'm really sorry as I can't reproduce here... No idea what we can do at the moment

[2019-03-17 18:26] dependencyinjection81 opened #101 "Registration process seems to have a bug"
I tried to register and burned two email adresses.
The issue is that I don't get a confirmation on any of the e-mail adresses.
First I thought for any reason it doesn't saved my registration and just tried to
login with my credentials and expected the login-page will redirect me to a page that tell me to verify my account first. But it just say that my credentials are wrong.
When I go to forget my

[2019-03-19 07:08] KTurbo commented on #101
I have the same problem. I, too, used two different email addresses.

[2019-03-19 07:14] jdubois commented on #101
Yes that's because we use the free tier from mailgun (the service is free, so no money...), and they are blocked by several mail providers like hotmail...
Please give me your usernames and I'll activate your accounts manually when I get time.

[2019-03-19 07:22] KTurbo commented on #101
I believe I used alexander.lindstrom as my username. If it was not what I used (cannot remember since I registered twice) it is the one where the e-mail address matches that name. Thank you!

[2019-03-19 07:38] jdubois commented on #101
Oh no, in fact the mail server is down and we have hundreds of people who could not register :-(

I'll do my best but I don't have time at the moment

[2019-03-19 07:47] alexanderlindstrom commented on #101
Oh, that's bad. 😮 I hope you get it sorted out soon. Drop us a line here so we can try it out once you've fixed it.

[2019-03-19 08:49] jdubois commented on #101
Thanks a lot for reporting the issue, as we have hundreds of people who didn't!
Anyway: restarted the server, so you should be able to register again using the same email address, and you'll get the mail.

I'll focus on removing the email registration, that's the best way not to have this ever again.

[2019-03-19 09:27] jdubois commented on #101
I have disabled email registration, so now you can login easily!

[2019-03-19 09:59] alexanderlindstrom commented on #101
Good work. Though I am not able to login with my registered user names and I cannot re-register since the e-mail is already in use. I'm not sure what to do atm. 😕

[2019-03-19 10:08] jdubois commented on #101
Oh I see.... I activated manually!
Otherwise non activated emails will be deleted after 2 days.

[2019-03-19 10:09] alexanderlindstrom commented on #101
There we go. Thank you so much!

[2019-03-23 09:38] doukai opened #102 "how to config jdl-studio?"
how to config jdl-studio?
when i access http://localhost:8080/jdl-studio/
return "Your request cannot be processed"
how can i config jdl-studio?
thanks!

[2019-03-25 16:51] PierreBesson commented on #102
I have tested it and it works. I run `mvn clean && mvn -Pdev,webpack`

<img width="495" alt="Screenshot 2019-03-25 at 17 45 42" src="https://user-images.githubusercontent.com/513471/54938381-8af25680-4f26-11e9-9f0a-31a41ee3d762.png">

Ping @jdubois maybe the submodule setup should be documented in the README.

[2019-03-28 13:46] #101 closed

[2019-04-01 07:54] slgxmh opened #103 "The newly generated project has a GitHub insights security alert about bootstrap."
as this screenshot

![image](https://user-images.githubusercontent.com/13213238/55311556-d7451580-5495-11e9-9ae4-12e2c7152624.png)

[2019-04-01 08:00] jdubois commented on #103
I'm moving this to the correct repo.

[2019-04-02 16:25] amalkurup opened #104 "Build issue with Jhipster online"
I am trying to deploy jhipster online on Openshift using docker strategy, but I am facing the below build issue related to maven. Can anyone point on this

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile (default-compile) on project jhonline: Execution default-compile of goal org.apache.maven.plugins:maven-compiler-plugin:3.7.0:compile failed: Plugin org

[2019-04-02 20:24] pascalgrimaud commented on #104
can you, at least, tell us what command you used ? so we can try to reproduce

[2019-04-03 01:47] amalkurup commented on #104
oc new-app https://github.com/jhipster/jhipster-online

[2019-04-03 08:04] jdubois commented on #104
I'm sorry but I have never used this command, I don't even know what it does, so I would be quite surprised this works out of the box.

I'm not sure this should be a bug report, you're using a tool we have not even tested at all.

[2019-04-03 08:43] amalkurup commented on #104
Can you point me on the steps to build image of jhipster online and push to dockerhub

[2019-04-03 08:45] jdubois commented on #104
@amalkurup there is one which is automatically build on https://hub.docker.com/r/jhipster/jhipster-online/

It uses https://github.com/jhipster/jhipster-online/blob/master/Dockerfile to generate the image, so if you want to do your own image (if you modify something), that should also be easy to do.

[2019-04-05 08:04] deepu105 commented on #102
let us know if you still face issues

[2019-04-05 08:04] #102 closed

[2019-04-08 05:39] laidani opened #105 "JHipster problem when try to change password in web site"
According to my question in [stackoverflow](https://stackoverflow.com/questions/55552610/jhipster-problem-when-try-to-change-password-in-web-site), I have a problem when I click to [Account then **Did you forget your password?**](https://start.jhipster.tech/#/reset/request) I get this error :

[2019-04-08 07:12] atomfrede commented on #105
@laidani We had huge problems with our mail provider to deliver emails to certain domains. Therefore mails are disabled for jhipster online for the moment. @jdubois will help you as soon as he has time

[2019-04-08 09:28] jdubois commented on #105
Our biggest issue is that we don't want to spend $100 per month just for sending a few emails :-)
I need a couple of hours to recode this part, but I just don't have any free time at the moment.
In the meantime, if you want me to reset your password or delete your account, just give me your email address and I'll do it when I have time.

[2019-04-08 09:28] #105 closed

[2019-04-08 09:44] laidani commented on #105
Thank you @atomfrede for me I remebered my password, and I can use jhipster very well, the issue is for the future users

[2019-04-08 09:48] laidani commented on #105
@jdubois as I mentioned in the last comment and in my question in stackoverflow, which is the way yo contact you, do you want every user to send you a request via github? For me I can't put my email in public, where every one can see it.
Thank you for your help any way.

[2019-04-10 04:04] amalkurup commented on #104
@jdubois Thanks for the pointer. I am closing this issue, as it's resolved

[2019-04-10 04:04] #104 closed

[2019-04-15 15:41] jdubois commented on #105
Hi @laidani - I did a new release, and now you should be able to reset your password!
Now the email provider is only used to reset passwords, so that's not as bad as before if it fails

[2019-04-18 18:37] laidani commented on #105
Hi @jdubois, thank you, I try it and it worked perfectly :)

[2019-04-27 13:38] juliensadaoui opened #107 "Upgrade to JUnit 5"
**Overview of the feature request**

All tests should upgrade to JUnit 5

**Motivation for or Use Case**

The generator-jhipster project has recently been upgraded to JUnit 5. Ticket [#9498](https://github.com/jhipster/generator-jhipster/issues/9498)

**How**

For Maven, exclude junit:junit and include junit-jupiter-engine:

[code]

In .java files:

1. Replace `org.junit.Test` with `org.junit.jupi

[2019-04-29 09:06] #107 closed

[2019-05-22 12:10] Shaolans opened #109 "Setting up jhipster-online for Azure Pipelines"
**Overview of the feature request**

Since Travis future is now uncertain, we should progressively migrate our CI to Azure Pipelines like we did for the generator or prettier-java.

**Motivation for or Use Case**

Travis is not doing well.
Azure Pipelines can have up to 10 parallel jobs (5 for Travis)

[2019-05-24 19:45] #109 closed

[2019-05-27 07:03] itachiunited opened #113 "Unable to Login into JHOnline"
I am unable to login into my account to modify my entities in JHOnline. It is redirecting me to access denied page. Can you please help?

[2019-05-27 07:06] jdubois commented on #113
I just tested everything looks fine. Do you mean you forgot your password?

[2019-06-17 13:51] jdubois commented on #113
Closing as we have no more information

[2019-06-17 13:51] #113 closed

[2019-07-03 08:38] iDisturb opened #115 "UNIQUE Constraint in JHipster online"
Hello, I cannot find the constraint UNIQUE in JHipster online, is it not supported, I have read that it is but probably it's not updated in JHipster JDL Studio

[2019-07-29 12:57] RaviGithub555 opened #120 "dbconnection issue"
Hi,
I am new to this jhipster, i am trying to make onilne jhipster in my local with the same code which is available in git , while doing mvnw command i am getting below issue :----
Please proved solution.

-----------------

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'com.ryantenney.metrics.spring.config.annotation.DelegatingMetricsConfiguratio

[2019-07-29 14:40] deepu105 commented on #120
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-07-29 14:40] #120 closed

[2019-07-30 14:41] RaviGithub555 opened #121 "online-jhipster configuration issues"
Hi Team,
Please find below logs which i am getting while making online -jhipster up in my local:-----

org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'com.ryantenney.metrics.spring.config.annotation.DelegatingMetricsConfiguration': Unsatisfied dependency expressed through method 'setMetricsConfigurers' parameter 0; nested exception is org.springfram

[2019-07-31 05:37] deepu105 commented on #121
Seems like you are trying to run the app without a DB, please read the documentation and follow it properly. Also please follow our issue submission guidelines so that we can help you better. There is not enough information in your ticket for us to look into it

[2019-07-31 06:23] RaviGithub555 commented on #121
Hi Deepu,
Thank you for your response,
I configured db (mysql), It's already working for other jhipster which I
install using jhipster cmd, but when I am using online-jhipster,  and
running fine with db connection.

Thanks & Regards,
Ravi kumar,
+91 8892303142

On Wed, 31 Jul 2019, 11:07 am Deepu K Sasidharan, <notifications@github.com>
wrote:

[2019-07-31 07:22] gmarziou commented on #121
Could be a classpath issue, maybe related to your java version or to the way you run the ap.
See https://github.com/jhipster/jhipster-online#quick-start-guide

[2019-07-31 07:50] deepu105 commented on #121
May be you built the app with dev profile and trying to run with prod?

On Wed, 31 Jul 2019, 12:52 pm Gaël Marziou, <notifications@github.com>
wrote:

[2019-07-31 08:08] RaviGithub555 commented on #121
Hi Gael,
Thanks for your helpful comment,
And docker command is this work for window10
while running this command "

   - docker-compose -f src/main/docker/app.yml up

C:\jhipster\jhipster\jhipster-online-master\src\main>docker-compose -f
src/main/docker/mysql.yml up -d
'docker-compose' is not recognized as an internal or external command,
operable program or batch file.

"
Now getting below issue

[2019-07-31 10:04] RaviGithub555 commented on #121
hI Tema,
please find the below but Request.

 Exception encountered during context initialization - cancelling refresh
attempt: org.springframework.beans.factory.UnsatisfiedDependencyException:
Error creating bean with name
'org.springframework.scheduling.annotation.ProxyAsyncConfiguration':
Unsatisfied dependency expressed through method 'setConfigurers' parameter
0; nested exception is
org.sprin

[2019-07-31 10:17] RaviGithub555 commented on #121
\io\github\jhipster\online\config\AsyncConfiguration.class]: Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.boot.context.properties.ConfigurationPropertiesBindException: Error creating bean with name 'io.github.jhipster.config.JHipsterProperties': Could not bind properties to 'JHipsterProperties' : prefix=jhipster, ignoreInvalidFields=fals

[2019-07-31 10:19] RaviGithub555 opened #122 "jhipsterProperties issue"
Hi Team,
I am getting below issue, Please help me to fix this issue,
Thanks in advanced

\io\github\jhipster\online\config\AsyncConfiguration.class]: Unsatisfied dependency expressed through constructor parameter 0; nested exception is org.springframework.boot.context.properties.ConfigurationPropertiesBindException: Error creating bean with name 'io.github.jhipster.config.JHipsterProperties': Coul

[2019-07-31 11:16] pmverma commented on #121
@RaviGithub555 Can you please create the related issue only once and comment there?
I am seeing this same comments at least 4 5 places. Otherwise, it confuses us on which issue to comment and also can't be tracked well.

[2019-07-31 11:22] PierreBesson commented on #121
@RaviGithub555 Cross posting is against our rules. Please don't do it again.

[2019-07-31 12:32] RaviGithub555 commented on #121
sorry for this, P mohan,
its happend by mistake due to slow network,
Can you please tell me the solution ?

On Wed, Jul 31, 2019 at 4:46 PM P. Mohan <notifications@github.com> wrote:

[2019-07-31 16:59] pmverma commented on #121
@RaviGithub555,
From your error message, I assume you have a property named `jhipster.logging.use-json-format`
in your `Origin: class path resource [config/application.yml]:136:11` which do not have a corresponding Java field.

You can check this PR https://github.com/jhipster/generator-jhipster/pull/9449 for json support in logs. It should work out-of-the-box unless you have changed the configs.

[2019-08-01 05:14] RaviGithub555 commented on #121
Hi Mohan,
Please find below yml file configuration , tell me if anywhere i am wrong,

# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
#
# More information on profiles: https://www.jhipster.tech/profiles/
# More i

[2019-08-01 07:50] pmverma commented on #121
Or check the opposite thing.

[2019-08-01 09:11] RaviGithub555 commented on #121
Hi Mohan,
Thanks for your response,
I am not getting what want to ask me check, for below comment,

in your Origin: class path resource [config/application.yml]:136:11 which
do not have a corresponding Java field.

what is the Origin class path here and what java field i have to check me
here, please help me to understand these things.

On Thu, Aug 1, 2019 at 1:20 PM P. Mohan <notifications@github

[2019-08-01 09:35] pmverma commented on #121
I have updated my previous comment.

Also, check on how spring boot property binding works at https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-yaml

[2019-08-01 10:29] RaviGithub555 commented on #121
Hi Mohan,

getting below issue, Please help me fix this issue, really stuck badly for
this issue:-

2019-08-01 15:57:17.068  INFO 18716 --- [  restartedMain]
io.github.jhipster.online.JhonlineApp    : Starting JhonlineApp on
BAKUMARRA with PID 18716
(C:\jhipster\jhipster\jhipster-online-master\target\classes started by
kumarra in C:\jhipster\jhipster\jhipster-online-master)
2019-08-01 15:57:17.072

[2019-08-01 13:24] RaviGithub555 commented on #121
Hi Mohan,

how and what to change for jhipster.properties file:-

/*
 * Copyright 2016-2018 the original author or authors from the JHipster
project.
 *
 * This file is part of the JHipster project, see https://www.jhipster.tech/
 * for more information.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You

[2019-08-01 13:26] RaviGithub555 opened #123 "main] c.e.c.E.g.j.o.domain.TecnotreePortal : Initialize successful. 2019-08-01 18:32:52.018 WARN 17592 --- [ main] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.context.ApplicationContextException:"
2019-08-01 18:32:40.322  INFO 17592 --- [           main] io.github.jhipster.online.JhonlineApp    : Starting JhonlineApp on BAKUMARRA with PID 17592 (C:\jhipster\jhipster\jhipster-online-master\target\jhonline-2.4.0.war started by kumarra in C:\jhipster\jhipster\jhipster-online-master\target)
2019-08-01 18:32:40.332 DEBUG 17592 --- [           main] io.github.jhipster.online.JhonlineApp    : Runn

[2019-08-01 19:10] #123 closed

[2019-08-01 19:12] #122 closed

[2019-08-01 19:39] #121 closed

[2019-08-02 08:41] deepu105 commented on #122
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-02 08:42] deepu105 commented on #123
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-08-02 08:50] deepu105 commented on #121
@RaviGithub555 if you are expecting people to help you(for free) at least put in some effort to make it easier for the people trying to help you. If you expect people to spend effort to figure out your issues from cryptic error messages and code you post, I don't think you will get any help, here are some etiquettes you could follow
- Place code and error message logs in markdown code blocks ` ```

[2019-08-07 14:05] Dap555 opened #124 "There is no Git provider available, please contact your administrator to configure one. You will only be able to download your application as a Zip file."
Hi
Jhipster  info:

C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>

[2019-08-07 16:32] #124 closed

[2019-08-08 05:03] Dap555 opened #125 "while creating new jdl model,getting error page,"
Hi ,
please find below template details:

C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the roo

[2019-08-08 05:43] pmverma commented on #125
I have never run it locally though but jdl studio is another project and you will need to integrate it I think.
https://github.com/jhipster/jdl-studio

The README file does not cover the jdl-studio integration part but hey, it is open source and the whole repository is available for free.

Try to check the PRs for jdl-studio integration.

[2019-08-08 06:13] pascalgrimaud commented on #125
Sorry @Dap555, but Github is used as bug tracker, not for question or help.

If you need free help, use StackOverFlow instead.
If you need professionnal help, you can contact Ippon Technologies.

If you don't know how to configure the project, just use directly https://start.jhipster.tech/#/

So plz, stop spamming us.

[2019-08-08 06:13] #125 closed

[2019-08-08 06:42] Dap555 commented on #102
Hi ,
My jhipster info:
****
C:\jhipster\jhipster\jhipster-online-master\jhipster-online-master>jhipster info
INFO! Using JHipster version installed locally in current project's node_modules
Executing jhipster:info
Options:
Welcome to the JHipster Information Sub-Generator

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<d

[2019-08-08 07:03] PierreBesson commented on #102
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-08-08 09:31] Dap555 commented on #125
Thanks for your response,
But here I am not asking help, here this is bug that jdl-studio not working with jhipster-online, as I already explained you, if really this will not work with jhipster-online in local, then please mention the same in readme instruction, people will try this, why people will unwantedly struggle a lots this  jdl-studio make it up in local.
So please tell me this is not a b

[2019-08-08 09:39] pascalgrimaud commented on #125
Not a bug. I took me 2min to clone and configure the project.
See my screenshot:

![Capture d’écran de 2019-08-08 11-37-22](https://user-images.githubusercontent.com/9156882/62692547-20235280-b9d1-11e9-8dff-2d0f675e0ef4.png)

![Capture d’écran de 2019-08-08 11-37-30](https://user-images.githubusercontent.com/9156882/62692561-24e80680-b9d1-11e9-8931-11286ee03a95.png)

[2019-08-08 10:32] Dap555 commented on #125
Thanks pascal,
I am also doing all the same step,
1.getting clone from git
2.yarn install and start.
3.making db up. in db also all table are created itself,
4.at last giving mvnw command,
5. application is also up, as I show you, file also downloading ,
but while creating new jdl its giving me error page, there is definitely some configuration missing from my end, please let me know any instructi

[2019-08-09 10:38] Dap555 commented on #125
Hope, I will get response at your end for this issue with jhister online create new jdl model
________________________________
From: Pascal Grimaud <notifications@github.com>
Sent: Thursday, August 8, 2019 3:09:35 PM
To: jhipster/jhipster-online <jhipster-online@noreply.github.com>
Cc: Ravi Kumar <Ravi.Kumar@tecnotree.com>; Mention <mention@noreply.github.com>
Subject: Re: [jhipster/jhipster-onlin

[2019-09-08 07:09] JalajChawla opened #126 "Not able to generate sample jhipster Application on gitHub"
I tried generating the application on GitHub on the given URL https://start.jhipster.tech/#/generate-application but it shows no error and keeps showing a loading screen.

PFA the screen I am getting though I am able to download the zip file
![Screenshot from 2019-09-08 12-37-22](https://user-images.githubusercontent.com/52110481/64484838-af708f80-d235-11e9-9680-6b8c27f54787.png)

[2019-09-08 19:56] jdubois commented on #126
Thanks a lot @JalajChawla !!! I confirm the issue, so really thank you for pointing this out!!

@PierreBesson @pascalgrimaud I have no idea what happened, I just restarted the server and now it works.

What has happened in the past was that the process generating the app got stuck (typically there was a question being asked at the prompt, so the process was waiting for the answer), but that should

[2019-09-08 19:56] #126 closed

[2019-09-08 20:16] PierreBesson commented on #126
Yes the generation process is based on the jhipster "interractive" CLI so it succeptible to problems like this. I think we should migrate the process to "non interactive" JDL generation at some point.

[2019-10-08 12:27] cmoine opened #135 "Improve the App Generation"
##### **Overview of the feature request**

The actual implementation is pretty basic and does not allow to use it in a productive manner.

##### **Motivation for or Use Case**

I found this web page very convenient because I did not have to install/configure/update jHipster every time, unfortunately, I cannot use this web page anymore if I want to generate VueJS app, since it is a blueprint. For m

[2019-10-09 19:10] cmoine commented on #135
The creation of the `.yo-rc.json` is fine (tested separately), but JHipster invocation from JHipster online is stuck on:
`INFO! Options: forceInsight: true, skipChecks: true, skipInstall: true, skipCache: true, skipGit: true, from-cli: true, force-insight: true, skip-checks: true, skip-install: true, skip-cache: true, skip-git: true`

And then reach the timeout !?!? What is going on?

Is it becaus

[2019-10-17 10:43] ehyko opened #140 "Error Applying the JDL Model"
Hi there,

I **created a project using jhipster cli** and pushed it to GitLab. Then I **created a simple Entity using jdl-studio** and **tried applying it to the project using jhipster online**. After authenticating GitLab I receive the following error:

Is there a way to receive a bit more of information of what exactly is going wrong?

jhipster -V: 6.1.2

Thnx
Erzen

[2019-10-17 14:19] deepu105 commented on #140
This is not the right place for this issue. Use `--debug` flag to get more info and pleas follow project guidelines

This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/

[2019-10-17 14:19] #140 closed

[2019-11-11 20:58] mrsegen opened #141 "Cannot resolve com.microsoft.sqlserver:mssql-jdbc:8.1.0.jre8"
I've freshly generated an app using https://start.jhipster.tech/.

When opening the unzipped project in IntelliJ, the initial attempt to sync/index, includes resolving dependencies, which results in: `Cannot resolve com.microsoft.sqlserver:mssql-jdbc:8.1.0.jre8`

Now, `com.microsoft.sqlserver:mssql-jdbc:8.1.0.jre8` doesn't exist as of this writing. Instead it's `com.microsoft.sqlserver:mssql-jdbc:

[2019-11-11 21:29] mrsegen commented on #141
By adding the previous version, I got it running.

In other words I changed the following in pom.xml ...
[code]
... to ...
[code]

[2019-11-20 10:14] Tonterias opened #142 "Sort design entities by date and name"
Hi,

I think it will be great to be able to sort the list of design entities by date (and why not by Name). When you have +25, you miss that.
Thanks

![image](https://user-images.githubusercontent.com/11610877/69230110-f90b1e00-0b86-11ea-863e-ef39605f16d5.png)

[2019-12-28 23:40] abdRumman opened #146 "use Enum With values in jdl studio"
|I am using enum with values in jdl-studio but the studio has shown me an error see the image, please !!

![image](https://user-images.githubusercontent.com/32413587/71550561-395a8900-29dc-11ea-8f38-bc8468d402ac.png)

[2019-12-29 11:58] vivekinKaiyeluttu opened #147 "ERD Visualisation & Download are not working as expected."
I happen to notice that ERD visualisation and snapshot downloading features are not working from today. Please have look into the error that I observed from the browser console log.
![Screenshot 2019-12-29 at 5 25 37 PM](https://user-images.githubusercontent.com/58650502/71556574-8d0eb600-2a60-11ea-82ac-092e5a02f3bb.png)

[2019-12-29 13:31] vivekinKaiyeluttu opened #148 "JDL history in online studio."
I'm not sure if it's too much to ask for history in online studio despite knowing the fact that jhipster-online is not an SCM. But, I feel it's a good to have feature.

[2019-12-29 13:37] vivekinKaiyeluttu commented on #147
Not sure if it was my issue. Now I could see the ERD loading.

[2019-12-29 13:37] #147 closed

[2019-12-30 09:25] deepu105 commented on #148
Its not in our roadmap, you are welcome to add the feature with a PR

[2020-02-17 20:34] agaspardcilia commented on #146
It looks like the JDL Studio version used here is kinda outdated. But I'm afraid it looks like an issue of [JDL Studio](https://github.com/jhipster/jdl-studio) and not JHipster Online and is probably only a matter of JDL version. You can use the latest version of JHipster locally as a workaround.

I'm closing this since it's not the right place to post that.

[2020-02-17 20:34] #146 closed

[2020-02-17 20:41] agaspardcilia commented on #141
This looks like it is an issue with the [generator](https://github.com/jhipster/generator-jhipster) itself and not JHipster Online.

I'm closing this since it's unfortunately not the right place for that (Thanks for giving a fix tho).

[2020-02-17 20:41] #141 closed

[2020-02-22 19:10] atomfrede opened #150 "Update generator and ui"
Update generator and ui such that

* neo4j is supported
* and the reactive questions is reflected to the current cli

[2020-02-23 14:51] agaspardcilia commented on #142
Sure, why not.

[2020-03-08 11:03] #150 closed

[2020-03-10 09:25] #142 closed

[2020-04-29 15:22] vishal423 opened #157 "Upgrade jhipster-online application to sync with generator-jhipster v6.8"
Upgrade `jhipster-online` application to leverage improvements incorporated in the main generator `v6.8`

[2020-05-02 09:03] pascalgrimaud commented on #157
@vishal423 : why did you close the ticket ? for technical problem ? or maybe it's too much work ? In this case, I can understand, no worry.
If it can motivate, I can put a bounty on this. Just tell me

[2020-05-02 14:36] vishal423 commented on #157
@pascalgrimaud, It seems much work than I initially anticipated before creating this ticket. I will try to spend some time over the next few days/weeks, however, I don't want to commit and thus closed the ticket.

[2020-05-02 15:52] SudharakaP commented on #157
@vishal423 : Would you mind if I give it a try at this issue? I have ample time and can do it in the next week or so. :smile:

[2020-05-02 15:54] vishal423 commented on #157
@SudharakaP, sure.

[2020-05-02 15:59] SudharakaP commented on #157
Thanks. :+1:

[2020-05-05 00:01] SudharakaP commented on #157
I've created a draft pull request to upgrade this to v6.8.0. I've managed to resolve the merge conflicts (to the best of my knowledge) and have it compile, build and start up correctly.

But most of the front-end functionality is broken I think especially due to heavy upgrades to Angular. Any help will be greatly appreciated. :pray:

I'll give it another try in a couple of days. :thinking:

[2020-05-05 09:31] pascalgrimaud commented on #157
cc @agaspardcilia @chrisdns @wmarques
It would be really appreciated if we can get help from you

[2020-05-06 07:46] wmarques commented on #157
I'll have a look on friday

[2020-05-06 12:42] agaspardcilia commented on #157
I have a bunch of spare time these days, I'm gonna give it a look.

[2020-05-07 13:00] agaspardcilia commented on #157
@SudharakaP Do you have a list of stuff not working or something like that? I'm currently doing one.

[2020-05-07 15:47] agaspardcilia commented on #157
Right below are the first things I noticed while trying to use the application:

### Misc

- [ ] Login alert not working
- [ ] Liquibase data script not being loaded (might be a local issue altough it works on the current master)
- [ ] Weird default icon color
- [ ] Home is not being switched to authenticated state
- [ ] Authentication is broken (gotta use the account service instead of the princi

[2020-05-07 15:50] pascalgrimaud commented on #157
@SudharakaP : can you tell us how you upgrade ? using `jhipster upgrade` or manually ?

[2020-05-07 15:53] SudharakaP commented on #157
@agaspardcilia : Thanks for summarizing it. Yes most of this seems broken; which makes me think if we should do the upgrade again from the beginning instead of trying to fix this so that maybe you'll have better chance and resolving the merge conflicts probably better than I did. :smile:

@pascalgrimaud : I used `jhipster upgrade`; and I resolved the conflicts simply by not trying to remove any co

[2020-05-07 15:56] pascalgrimaud commented on #157
from my personal experience, I never manage to use this sub generator... always broken from my side

[2020-05-07 16:04] agaspardcilia commented on #157
@SudharakaP Indeed, the Angular upgrade has really been messed up by the whole upgrade. I'll give it a try to see if I can get a better result.

@pascalgrimaud Me too, last time we upgraded jhonline, we didn't used it iirc.

[2020-05-07 17:13] SudharakaP commented on #157
Oh no... :cry: then we shouldn't use my PR, since I used that subgenerator thinking that it would be fine.

[2020-05-07 21:35] pascalgrimaud commented on #157
That's the reason why @vishal423 closed the ticket initially.
Indeed, it's a lot of work to upgrade properly this project with all last libraries for front and back...
I would be easier if we coded it, using side-by-side approach, but it's another story.

Then, I'm not sure it will deserve to spend so much time on this, as our users won't see a lot of difference at https://start.jhipster.tech/#/

[2020-05-08 15:01] wmarques commented on #157
Agree on that... It would be better to do only a library upgrade on front end, that will be enough I think.

[2020-05-08 17:29] vishal423 commented on #157
If no one is looking into the upgrade, I can try to spend some time over the next few days. However, as I said before, I don't want to commit upfront as progress would largely depend on available bandwidth.

[2020-05-08 18:41] SudharakaP commented on #157
@vishal423 : Sure thanks. I can help too if you'd like to; maybe if you can do part of it I can try to do the other half. Can take a look next week; need some break from the upgrade lol. :smile:

[2020-05-13 12:42] vishal423 opened #161 "Refactor routing code to lazy load modules"
Should be done after #160

[2020-05-13 12:53] vishal423 opened #162 "Allow anonymous user to generate an application via user interface"
Should be done after #160

[2020-05-13 12:56] vishal423 opened #163 "Add Github Actions and CircleCI as an options to generate CI/CD pipelines"

[2020-05-23 11:55] MareGeldenhuys commented on #93
Running into this same issue from https://start.jhipster.tech/ accessing the public gitlab.com instance. When the callback is made to jhipster.tech, the service responds with a 500 Internal Service error from the save-token endpoint. I suspect this is due to Gitlab not registering the jhipster application, even though I have tried authorizing multiple times. Is there perhaps a manual method of reg

[2020-05-25 08:43] jdubois commented on #93
@MareGeldenhuys I have the same issue as you now, so something has changed, probably on the GitLab side (as we didn't update any code on this).
I believe this should be a new ticket, as here we are discussing on an older issue.

[2020-05-25 09:08] atomfrede commented on #93
I can reproduce it when trying authorize with gitlab. As my account is already registered everything works fine though. But I guess not for accounts which are not already registered.

[2020-05-25 09:25] fleboulch commented on #93
It's seems to be the same issue existing since January 2019 (or more). I've never succeed to sync my Gitlab account.
Can you re open this issue please? However, I don't know how to fix it but I can help

[2020-05-25 11:17] jdubois commented on #93
OK this seems important: so the issue is when you have not connected your account yet.
I'm adding a bug bounty here.

[2020-05-25 11:39] atomfrede commented on #93
We might be reconsider to switch from https://github.com/timols/java-gitlab-api to https://github.com/gitlab4j/gitlab4j-api which seems to be better maintained (but first let's make it work again).

[2020-05-25 14:44] vishal423 commented on #93
If no one else is working on it, I can take a look on top of changes to upgrade to `v6.8`

[2020-05-25 17:59] jdubois commented on #93
@vishal423 I'm assigning this to you, I hope you're OK with this

[2020-05-25 19:42] vishal423 commented on #93
@jdubois, I have raised PR with the solution. The issue was coming due to Cloudflare user-agent policies.

[2020-05-26 04:53] #93 closed

[2020-05-26 11:15] jdubois commented on #93
Thanks a lot @vishal423 !

[2020-05-30 08:39] pascalgrimaud commented on #157
I'm changing the bounty here as it was so much work here, and it will be well deserved

[2020-06-01 17:03] SudharakaP opened #166 "Cleanup Email Sending Code for Upgrade to Generator v6.8"
This is with reference to, https://github.com/jhipster/jhipster-online/pull/160#discussion_r433363155

I believe we have to clean up the code such that there's no need for any reference to `mailEnabled` property.

[2020-06-01 17:22] #157 closed

[2020-06-01 17:36] SudharakaP opened #167 "Remove Outdated K8 Config"
This is with related to the code reviews in; https://github.com/jhipster/jhipster-online/pull/160

- [x] Remove K8s config as mentioned at,  https://github.com/jhipster/jhipster-online/pull/160#pullrequestreview-421435033

<strike>- [ ] Change readme.md build badges as mentioned at; https://github.com/jhipster/jhipster-online/pull/160#discussion_r432876859</strike>

[2020-06-01 19:14] #166 closed

[2020-06-01 21:36] #167 closed

[2020-06-01 21:45] SudharakaP commented on #161
Since #160 is done I am closing this.

[2020-06-01 21:45] SudharakaP commented on #162
Since #160 is done I am closing this.

[2020-06-02 04:29] vishal423 commented on #162
It was meant to be worked upon after the merge :)

[2020-06-02 04:30] vishal423 commented on #161
It was meant to be worked upon after the merge :)

[2020-06-02 04:53] SudharakaP commented on #162
@vishal423 : Ops sorry. I think I closed this an another one with the idea the changes are already incorporated in the update.

[2020-06-02 06:55] gco-nb opened #171 "JDL studio not available"
Hello,
The URL : https://start.jhipster.tech/jdl-studio/ gives an error message not found.
Your request cannot be processed
Sorry, an error has occurred.

Status: Not Found (Not Found)
Message: Not Found

[2020-06-02 07:25] pascalgrimaud commented on #171
Indeed, I can confirm
Thanks for reporting the issue

[2020-06-02 07:36] pascalgrimaud commented on #171
https://github.com/jhipster/jhipster-online/blob/master/package.json#L130 is supposed to work...

@deepu105 : can you confirm ? is it the correct command as in my local env, it doesn't work. Maybe should I copy/paste manually ?

[2020-06-02 08:27] vishal423 commented on #171
@pascalgrimaud, did you checkout git submodules before build and deployment? Above command is to synchronize to take latest code from `jdl-studio`

[2020-06-02 08:34] pascalgrimaud commented on #171
@vishal423 : no I didn't do it. I launched `mvn verify -Pgcp` only

[2020-06-02 08:35] SudharakaP commented on #171
@pascalgrimaud : Yeah as @vishal423 mentioned I don't think we used the `recursive` step in our deployment; `git submodule update --init --recursive`.

[2020-06-02 08:58] SudharakaP opened #172 "Streamline Deployment with CloudRun/AppEngine + GitHub Actions"
I believe we could maybe make the deployment process a bit streamlined with either using CloudRun or AppEngine with GitHub Actions driving the deployment. I'd work on this in the coming weeks if there's no objection. The plan is, when doing a tagged release, Github Actions will deploy the new version to either AppEngine or CloudRun.

If there's any ideas or suggestions, please feel free to let me

[2020-06-02 09:13] pascalgrimaud commented on #172
@SudharakaP : do you mean replacing the current VM with GCE by GAE ?

[2020-06-02 09:22] SudharakaP commented on #172
@pascalgrimaud : Correct. That's the plan. Either use GAE or Cloud Build, but I think I like GAE better. 🙃

[2020-06-02 09:24] pascalgrimaud commented on #172
Although I don't know GAE at all, I'm trusting you and I'm fine with this, but don't hesitate to discuss about it in our mailing list before

[2020-06-02 10:14] vishal423 commented on #171
@pascalgrimaud , @SudharakaP , you just need to take checkout of git submodule and the normal build will take care of integration. You can checkout submodules during clone with `git clone --recurse-submodules` or post that with `git submodule update --init --recursive`

Let me know if you face any issues while doing it.

[2020-06-02 15:59] obwaze opened #173 "JDL login page doesn't work"
Hi team,

Access to my account on https://start.jhipster.tech/ doesn't work since yesterday.
Authentication seem works but there is a redirect on the home page after login.

[2020-06-02 16:04] deepu105 commented on #171
Sorry just saw this. yes Vishal is right, the command just pulls latest
code once you have sub module setup.

Thanks & Regards,
Deepu

On Tue, Jun 2, 2020 at 12:14 PM Vishal Mahajan <notifications@github.com>
wrote:

[2020-06-02 16:58] pascalgrimaud commented on #171
It should be ok: https://start.jhipster.tech/jdl-studio/
I'm closing this

[2020-06-02 16:58] #171 closed

[2020-06-02 17:00] pascalgrimaud commented on #173
hi @obwaze
Can you try to log into your browser in private mode ?

We did an upgrade of JHipster Online yesterday, from 5.0.2 to 6.8.0
We needed to change the JWT secret, to use a base64, so if you checked "remember me" when you log in, it could explain

[2020-06-02 17:57] obwaze commented on #173
Hi @pascalgrimaud

Thank for your reply.
Effectively it's work in private mode.
The jdl-studio works also.

Thanks again for your actions

[2020-06-02 17:58] #173 closed

[2020-06-02 20:11] ludoch commented on #172
/subscribe :-) Scream if you need help on GAE.

[2020-06-02 20:37] SudharakaP commented on #172
@ludoch : We have decided to use CloudRun instead but thanks. :smile:

[2020-06-05 19:42] SudharakaP commented on #172
I've submitted the PR for this. This changes the deployment from the Custom VM to CloudRun. We will use GitHub Actions along with GitHub Secrets to replace the secret values at deployment. So the deployment only consist of creating a release tag and everything else is taken care of.

A sample deployment pipeline execution can be found at my fork; https://github.com/SudharakaP/jhipster-online/runs/

[2020-06-05 20:18] pascalgrimaud commented on #172
@SudharakaP : just done !

[2020-06-05 21:39] SudharakaP commented on #172
@pascalgrimaud : Thanks much. I've configured the secrets. The only thing to do is,

1) Review this PR and merge it.

2) Create a release tag and see if it deploys correctly.

3) Test the deployment (in CloudRun) and if everything is good, hook up the custom domain with CloudRun instead of the VM and shutdown the VM.

Let me know if we are good to go ahead with this. :smile:

[2020-06-05 23:53] SudharakaP commented on #148
I am closing this since there seems to be no activity on this.

@vivekinKaiyeluttu : If you like to contribute to this with a PR feel free to reopen. :smile:

[2020-06-05 23:53] #148 closed

[2020-06-06 00:06] SudharakaP commented on #115
@iDisturb : Sorry for being so late on addressing this issue; but this is now addressed through the pull request https://github.com/jhipster/jdl-studio/pull/88.

Related issue; https://github.com/jhipster/jdl-studio/issues/60.

Therefore I am closing this. :smile:

[2020-06-06 00:06] #115 closed

[2020-06-06 05:59] pascalgrimaud commented on #172
@SudharakaP : I think it would be better to use a private project for deployment + secrets. I can create one. Are you ok ?

[2020-06-06 06:05] SudharakaP commented on #172
@pascalgrimaud : Sure I am fine with it. You mean an exact copy of this repository which is private? :thinking:

[2020-06-06 06:08] pascalgrimaud commented on #172
@SudharakaP : not a copy. A private repo which contains the deployment part and secrets. Nothing else. As it's private, there won't be any pull requests. Then, we'll need to have some webhook from this project to trigger build in the private project

[2020-06-06 06:15] SudharakaP commented on #172
@pascalgrimaud : Sure. Please go ahead. If you need help let me know. :smile: I don't exactly understand the purpose of a private repo thought. Is it to have extra security for the secrets? :thinking:

[2020-06-06 06:20] pascalgrimaud commented on #172
@SudharakaP : secrets should be available only for main branches of the repo, but just in case and for security, I think it's better to have a separated project for that.
@PierreBesson : do you agree with this ? If I remember, it was your suggestion :p

[2020-06-06 06:33] SudharakaP commented on #172
@pascalgrimaud : I think @PierreBesson can verify, but I think he was talking about secrets in the context of my suggestion to use an encrypted file (with the secrets) which in the deployment process is decrypted.

I don't use that method here, but instead use GitHub Secrets only. I might be wrong, but I am doubtful if we are doing anything really meaningful by just putting them in a private repo

[2020-06-06 16:01] SudharakaP commented on #172
@ludoch : Hey, I do not know where to exactly post this; but posting it here so that you might know where to redirect. While setting up this task with CloudRun, I noticed the following issues; they are not major but I think might be useful to look at.

1) The integration of CloudRun with Java as described here seems not working I think or need more information; https://cloud.google.com/sql/docs/my

[2020-06-10 14:13] BugHunterPhilosopher opened #181 "Can not sign in"
Hi there,

Since yesterday I can not log in to the JDL studio anymore, hence I can't edit my entities. I mean : the sign in modal window appears, I can submit my credentials, but then the modal window disappears and I'm still not logged in.

What shall I do, please? I'd like to edit my old models and I wish I'm not forced to register again and reimport them.

Regards

[2020-06-11 13:45] BugHunterPhilosopher commented on #181
All right! Feel free to ask for more tests. Cheers!

[2020-06-11 14:08] vishal423 commented on #181
can you check solution of #173

[2020-06-11 14:22] BugHunterPhilosopher commented on #181
Yep, that does the trick, thanks! Both private mode and remember me allow me to log in.

Cheers!

[2020-06-11 14:22] #181 closed

[2020-06-12 15:15] SudharakaP commented on #87
@agaspardcilia : Is this still being worked on ? If not, or if you have lost interest in this let me know; I might be able to work on it later during the month. :smile:

[2020-06-14 17:18] SudharakaP commented on #135
@cmoine : Hey, thanks for opening this issue and sorry it didn't get much attention before; I think it's a good idea. Are you still working on this issue? Could you open a draft pull request? I can take a look as well if needed. :smile:

[2020-06-16 08:44] cmoine commented on #135
Hi @SudharakaP, Thank you for you help. I did some progress, but didn't work on it for a long time:
https://github.com/cmoine/jhipster-online.git
Saving previous selected/entered values was pretty easy, however, running blueprints is honestly a real pain:
- Retrieving dynamic options (however I find a dirty way to do it)
- I was stuck for running blueprints.... I didn't manage to make this work pr

[2020-06-16 09:31] cmoine commented on #135
Related to https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jhipster-dev/2Q5pQuBGA3Q/yPwJN-W-BgAJ

[2020-06-16 12:16] pascalgrimaud commented on #135
Here a simple use case of new release:
- I did a new release of generator-jhipster v6.9.1
- then, the blueprint vue.js has been aligned with v6.9.1 -> https://github.com/jhipster/jhipster-vuejs/releases/tag/v1.8.2 : so it will work in jhipster-online
- the blueprint nodejs will fail, when you want to generate the application, as it's aligned with 6.8.0 (missing 6.9.0 and 6.9.1) -> https://github.c

[2020-07-01 05:46] SudharakaP commented on #163
I've added both GitHub Actions and CircleCI to the list of integrations. Let me know if you see any issue with it. :smile:

[2020-07-01 06:13] SudharakaP opened #183 "GitHub Generation Seems to be Stuck"
This issue was initially brought up in our Gitter channel by @jshingler. It seems that the GitHub generation in https://start.jhipster.tech/generate-application  is stuck and doesn't work.

![image](https://user-images.githubusercontent.com/12435965/86209344-42f9b080-bb27-11ea-812f-9f3d2a26a5a4.png)

[2020-07-01 07:33] pascalgrimaud commented on #183
Just tried it and I confirm the issue.
I don't have time this morning to have a look, sorry

[2020-07-01 07:38] jdubois commented on #183
The logs are empty :-(
I'll try to reboot the server

[2020-07-01 07:41] jdubois commented on #183
I restarted and it works again!!! Weird, I couldn't see any issue in the logs

[2020-07-01 07:44] SudharakaP commented on #183
@jdubois : I did check the logs a while back as well and couldn't find anything. :thinking:

[2020-07-01 08:01] SudharakaP commented on #183
Closing this for now; will reopen in case this issue appears again. :thinking:

[2020-07-01 08:01] #183 closed

[2020-07-01 18:23] deepu105 commented on #183
There was some issues with GitHub yesterday, my Jekyll builds were stuck,
so may be that could have caused the push to silently fail

On Wed, 1 Jul 2020, 10:02 am Sudharaka Palamakumbura, <
notifications@github.com> wrote:

[2020-07-02 03:20] SudharakaP commented on #183
@deepu105 : Thanks for the info. Seems likely as I couldn't recreate it today. :thinking:

[2020-07-09 09:25] farzad-sedaghatbin opened #184 "Problem Generating Application on GitHub"

[2020-07-09 10:49] gmarziou commented on #184
Could you please provide a description?

[2020-07-09 11:17] farzad-sedaghatbin commented on #184
it is stall in Generating application in repository ....

[2020-07-09 11:44] vishal423 commented on #184
seems related to https://github.com/jhipster/jhipster-online/issues/183

[2020-07-09 14:47] SudharakaP commented on #184
Interestingly as in the previous case I don't see anything in the logs. I've restarted jhonline and it seems to fix the issue but I wonder why this keep happening. :thinking:

[2020-07-09 16:13] SudharakaP commented on #184
Only logs I see for user @farzad-sedaghatbin are,

<details>
<summary>Expand Logs</summary>

[code]
</details>

which seems to indicate that the method, [`createGitProviderRepository`](https://github.com/SudharakaP/jhipster-online/blob/3b703c6cf8733ee68d868cb5ef7cc82e77dafef0/src/main/java/io/github/jhipster/online/service/GithubService.java#L199) is never called. Wondering if this is something sp

[2020-07-09 19:59] pascalgrimaud commented on #184
we should change the level of log, so we'll see more things

[2020-07-09 21:08] gmarziou commented on #184
Did you restart the app because it was down? If so, could it be that it was killed by the OOM killer? This is what happened to my apps, nothing in application logs, the only way to see it was in system logs

[2020-07-09 21:55] SudharakaP commented on #184
@gmarziou : Thanks. No I restarted it to just to get the thing working again. We do have the syslogs; I've PMed you on twitter so perhaps I can share them with you as well.

[2020-07-11 05:07] farzad-sedaghatbin commented on #184
solved

[2020-07-11 06:22] vishal423 commented on #184
IMO, we should keep it open and investigate on the real issue.

[2020-07-11 07:29] SudharakaP commented on #184
I've change the log level to `DEBUG` for class; `io.github.jhipster.online.service.GithubService` so that if this happens again we can get more info. :thinking:

[2020-07-12 05:41] SudharakaP commented on #184
@gmarziou : I've fixed the following and assigned the PR to you for review.

- Fix compiler warnings which lacks parameters

- Fix all NullPointerExceptions coming from the `YoRCDeserializer.deserialize` method.

- Refactor `GitHubService.getSyncedUserFromGitProvider` method such that it was broken into several smaller functions.

- Make sure the StopWatch instances are stopped even after and exce

[2020-07-12 18:45] SudharakaP commented on #184
The GitHub generation seems stuck again. Again it doesn't seem like it's calling `createGitProviderRepository` at all. Also I notice that there's continuous repetition of requests going to endpoint `/api/generate-application/` until the user logs out. :thinking:

[2020-07-13 06:04] yashjit opened #187 "Unable to reset password in jhipster online"
No mail delivered to my registered email address.

[2020-07-13 07:04] SudharakaP commented on #187
@yashjit : For password resets we do not send emails. When you click on `Account -> Password` and enter your new password and click save you should see a success message and that's it. Were you able to do this? :smile:

[2020-07-13 15:53] SudharakaP commented on #187
@yashjit : This is probably related to the generation issue we are currently having. For now I've restarted the server. Can you try again?

[2020-07-13 15:56] SudharakaP commented on #184
So to reiterate what @Julien mentioned in one of the emails so that everyone has context,

So it seems that since we have re-enabled the emails at, https://github.com/jhipster/jhipster-online/pull/170 this might be the cause of this issue.

I would like to give it a try to fix the thread issue rather than reverting it back to be honest. So will be investigating on this a bit more. :thinking:

[2020-07-13 15:58] julien commented on #184
I didn't mention anything

[2020-07-13 15:59] jdubois commented on #184
Oh sorry @julien - this was for me!

[2020-07-13 16:01] SudharakaP commented on #184
@julien : Ops sorry, I've corrected it. Trying to do too many things at once. :smile:

[2020-07-13 16:07] julien commented on #184
@SudharakaP no worries

[2020-07-16 11:43] lnagy82 commented on #184
Any news with this bug? I can't generate on GitHub nor GitLab, but i can download as zip.

[2020-07-16 22:09] SudharakaP commented on #184
@lnagy82 : I am waiting for #186 to be reviewed and merged. After that I am thinking to do a deployment to see if that fixes it. If not I will try to either revert (#170) or do some alternative fix. In any case, I've restarted the service for now so you should be able to generate it.

[2020-07-17 15:08] cbornet opened #189 ""No database" option visibility"
The "No database" option visibility condition doesn't match the one in the CLI. In particular it's not available for monolith.

CLI : https://github.com/jhipster/generator-jhipster/blob/4673fe4397a314f157f8919da0c2395fe05cd9d2/generators/server/prompts.js#L202

JH Online : https://github.com/jhipster/jhipster-online/blob/6af0fafe1503a82ac0fcbc368f4be2b84374d0a2/src/main/webapp/app/home/generator/g

[2020-07-20 03:31] SudharakaP commented on #189
@cbornet : Done. :+1: Let me know if you see any issues.

[2020-07-20 04:05] SudharakaP opened #192 "Add CodeQL Support"
I am thinking of adding [CodeQL analysis](https://securitylab.github.com/tools/codeql) to this repository; so that we could have a better sense of any vulnerabilities and coding errors that may arise. If there's any issues or concerns with this please feel free to let me know. :smile:

cc: @jhipster/developers

[2020-07-22 21:22] jdubois commented on #172
I'm not a Cloud Run expert, but for our own usage this makes perfect sense.
However, we need to be extra careful: many people are using forks of JHipster Online internally inside their companies, and they need to be able to use it easily. This is the main reason why I used a VM and MySQL initially: they are not the best solution for us, but they will work everywhere.
So I'm really happy if we move

[2020-07-22 21:30] SudharakaP commented on #172
@jdubois : Thanks a lot for the information. The only thing we did here is to add support for CloudSQL. The VM deployment can still be done if needed so I think users can use it if needed. Could you double check if it's adequately secure in terms of the setup in the relevant pull request; https://github.com/jhipster/jhipster-online/pull/174 which was the doubt @PierreBesson raised I think.

[2020-07-23 07:39] jdubois commented on #172
If the question is only on GitHub secrets, it should be fine: just make sure you don't do stuff like "echo $SECRET" in the logs... which would be stupid anyway.
Otherwise, only admins can edit those secrets, but they can't see them directly with the UI.

[2020-07-23 07:49] SudharakaP commented on #172
@jdubois : Wonderful thanks a bunch. I just finished the v2.6.2 deployment. I'll merge this one soon and hopefully from next deployment we can migrate to CloudRun. The SQL db remains the same and the VM deployment can also be done so therefore people who use those will have no problems; but in case if you do see anything feel free to ping me; we can easily migrate back to the VM if necessary witho

[2020-07-23 08:01] SudharakaP opened #197 "Automate Syncing Submodule JDL Studio"
We need to automatically sync JDL Studio sub-module before deployment. I think this can be added to the deployment pipeline (after #174 is merged). The plan is to run the [sub-module update script](https://github.com/jhipster/jhipster-online/blob/29396261a642e40da8c1b714ff04daebe13897c6/package.json#L130) as part of the deployment pipeline.

[2020-07-23 08:40] jdubois commented on #172
Awesome work, thank you @SudharakaP !
I'm very interested to learn more about the price/performance/maintenance gains of switching to Cloud Run.

[2020-07-23 16:29] SudharakaP commented on #172
Thanks. I think the price will be less since CloudRun scales down to zero instances when there's no traffic. As for the performance I anticipate it will be roughly the same. But we'll see and I'll keep you in the loop on how it goes. :+1:

[2020-07-24 00:36] SudharakaP commented on #187
This is actually related to https://github.com/jhipster/jhipster-online/pull/175 since we haven't fully enabled the email service it seems.

[2020-07-24 00:53] #187 closed

[2020-07-24 01:04] SudharakaP opened #198 "Integrate Release Drafter"
Suggest integrating release drafter so that we can keep track of changes easily; https://github.com/release-drafter/release-drafter

[2020-07-24 07:07] jdubois commented on #172
Scaling down to zero doesn't look like a good idea to me: the app takes some time to start up, so it means some users might have a very bad experience. And anyway, this app is used also to get our stats, so it's being used nearly all the time, and I don't believe we will gain a lot of money from doing this.
I'd rather have the app running all the time, it's better for our users (and $$ is definite

[2020-07-24 08:04] SudharakaP commented on #172
@jdubois : Yes, I totally forgot about the stats. I agree that scaling down to zero might not be a good idea, but we can keep it running all the time.

The main reason I did this, is to make the deployment process easier and more automated such that anyone can do it without much manual intervention and also thought moving to docker makes more sense. However if you feel like the VM is sufficient fo

[2020-07-24 09:17] jdubois commented on #172
Oh yes, moving to Docker totally makes sense and is a huge +1. It will definitely ease our upgrades, and make everyone's life better (including for people forking the project).
Then, with the stats we should never scale to zero, and again the process will take too much time to wake up:

- We need to have a least one running instance -> can you set this up? And have a look at the price, as it might

[2020-07-24 23:11] SudharakaP commented on #172
@jdubois : I looked into these, the max number of instances isn't a problem we can set it to 1. But the minimum number of instances (such that it doesn't fall to 0) cannot be done directly at this moment with Cloud Run managed instances. I think they are going to support it in the future but right now under the default setting it will fall to 0 after some time when no more requests are coming thro

[2020-07-24 23:53] saturnism commented on #172
Can we chat abt this next week? :)

[2020-07-24 23:57] SudharakaP commented on #172
@saturnism : Yes good idea, I am all in for it. :smile:

[2020-07-25 00:04] mydiemho opened #200 "GitHub and GitLab Configuration Failure"
After configure JHipster to access my GitHub account, I keep seeing the error `JHipster has failed to reach your Github repositories.`.  When I checked on GitHub, I can see that `JHipster` is in the `Authorized OAuth Apps` list.

![Screen Shot 2020-07-24 at 17 01 28](https://user-images.githubusercontent.com/1634185/88443988-b8c40580-cdcf-11ea-9d9c-ffa15891702b.png)

![Screen Shot 2020-07-24 at 17

[2020-07-25 00:13] SudharakaP commented on #200
@mydiemho : Thanks for reporting this. I was able to reproduce this. Although the JHipster app is authorized it shows this error it seems. Will take a look. :thinking:

[2020-07-25 06:44] jdubois commented on #172
I’ll be on holidays, but please keep me updated.
And remember that because of the stats we have requests all the time 👍,
and that the timeout is something like 2 seconds (otherwise the generator
looks slow)

Le sam. 25 juil. 2020 à 01:58, Sudharaka Palamakumbura <
notifications@github.com> a écrit :

--
Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>

[2020-07-25 06:48] PierreBesson commented on #172
Thanks @saturnism, can I join you guys ?

[2020-07-25 07:12] SudharakaP commented on #172
@PierreBesson : I've sent you the invite that we planned next week. Did you receive it? Hope the time is okay; if not let me know we can arrange a alternate time. :smile:

[2020-07-25 08:40] PierreBesson commented on #172
No I have not yet received it.

[2020-07-25 15:31] tonsV2 commented on #93
After facing the same issue as described here Google brought me here. In other words this is not working, at least not for me.

[2020-07-25 15:33] SudharakaP commented on #93
@tonsV2 : Thanks. I am working on a solution to this. This was reported at, #200

[2020-07-25 16:21] SudharakaP commented on #200
Just for the information; as pointed out in this comment; https://github.com/jhipster/jhipster-online/issues/93#issuecomment-663868193, this also applies to GitLab.

[2020-07-25 17:48] vishal423 commented on #200
@SudharakaP, what error do you see in server logs?

[2020-07-25 17:55] SudharakaP commented on #200
@vishal423 : The error is,

<details>
<summary>
Server Log
</summary>

[code]
</details>

[2020-07-25 18:52] vishal423 commented on #200
I did a quick check on local setup, and able to configure `GitHub` without any issues or additional configurations. Have you tried on local setup to reproduce the issue?

[2020-07-25 19:13] SudharakaP commented on #200
@vishal423 : That's strange. I created my own OAuth App and OAuth Token and tested it on local and I could recreate this exact scenario. :wink: :thinking: :thinking:

[2020-07-25 19:24] vishal423 commented on #200
![image](https://user-images.githubusercontent.com/15997681/88464703-7b986a00-ceda-11ea-93fa-75436ac13e3c.png)

[2020-07-25 19:42] SudharakaP commented on #200
@vishal423 : Hmm.... :thinking: :thinking: Kinda confusing why this happens on some machines,

![Screenshot from 2020-07-25 12-40-37](https://user-images.githubusercontent.com/12435965/88465002-275a9f00-ce74-11ea-88ab-d7d04e700a9a.png)

[2020-07-25 19:43] SudharakaP commented on #200
@vishal423 : can you try running the prod profile and see if it works? :thinking:

[2020-07-25 20:02] SudharakaP commented on #200
@vishal423 : For me it fails for dev as well. :disappointed:

[2020-07-26 07:36] SudharakaP commented on #200
It seems to me that this intermittent issue of Git Sync on both GitHub and GitLab comes from way we send the POST request to the Git provider using the `RestTemplate` library. I cannot pinpoint why it fails only for some people but I felt that its something to do with the library itself so I changed it to the more recent `HttpClient` of Java 11. And thus the project was also upgraded to Java 11. P

[2020-07-27 03:41] SudharakaP opened #202 "Integrate SonarCloud"
I would like to integrate [SonarCloud](https://sonarcloud.io/) to this project instead of CloudQL. It seems CloudQL only does security vulnerabilities and although I opened a PR before for that (https://github.com/jhipster/jhipster-online/issues/192), I now think SonarCloud might be more comprehensive and also it will be consistent with the generator.

@pascalgrimaud : Would you be able to either

[2020-07-27 03:43] SudharakaP commented on #192
Closing this in favor of https://github.com/jhipster/jhipster-online/issues/202

[2020-07-27 03:43] #192 closed

[2020-07-27 06:04] SudharakaP commented on #197
A slight alteration of plans; I've added a GitHub action on jdl-studio such that when a new commit is merge to it's master branch a pull request with the submodule update is opened in this repo. :smile:

[2020-07-27 12:40] #197 closed

[2020-07-27 21:53] pascalgrimaud commented on #202
I will take care of this. I was too busy today, just give time :)

[2020-07-27 22:51] SudharakaP commented on #202
No problem, take your time. :+1:

[2020-07-28 04:46] SudharakaP opened #203 "Auto Remove Labels from Merged/Closed Pull Requests"
We need to add a simple label remover using GitHub actions to auto remove labels when pull requests are merged. :smile:

[2020-07-28 12:34] #203 closed

[2020-07-28 12:35] #198 closed

[2020-07-28 12:41] #200 closed

[2020-07-28 12:55] #189 closed

[2020-07-28 18:05] pascalgrimaud commented on #202
@SudharakaP : it should be OK. I created the project at SonarCloud https://sonarcloud.io/organizations/jhipster/projects and added the SONAR_TOKEN in secrets

[2020-07-28 19:29] pascalgrimaud commented on #202
@SudharakaP : I added you to JHipster Organization as member too. You should be able to manage it. Tell me if you encounter some problem.

[2020-07-28 20:25] SudharakaP commented on #202
@pascalgrimaud : Thanks a lot. Will take a look. :smile:

[2020-07-29 22:47] SudharakaP commented on #172
Just to keep everyone on the loop on this; after our meeting with @saturnism it seems that CloudRun isn't the best choice moving forward as it suspends after handing requests. Given we have @Scheduled and @Async tasks this will create problems. Therefore we will probably look at migrating to [Google App Engine Flexible with a custom runtime](https://cloud.google.com/appengine/docs/flexible/custom-

[2020-07-29 22:57] SudharakaP opened #205 "Docker Builds Fail Due to Java 11 Upgrade"
It seems that the docker builds are failing due to the Java 11 upgrade. I tried to fix this at commit; https://github.com/jhipster/jhipster-online/commit/7f0ae1cc0dad2c1d374e353abdbcb0a13d905ea0 but that didn't seem to work. :thinking:

@pascalgrimaud : Would you be able to give me access so that I could see the build logs. It seems that when I click on the [build logs link](https://hub.docker.com

[2020-07-30 08:48] SudharakaP commented on #198
Just for the record; this was removed at c8b6284 due to https://github.com/actions/github-script/issues/42. The only reason I added it to cleanup labels in PRs and that cannot be done for forks as indicated. :cry:

[2020-07-30 18:22] aurelien-pacaud opened #207 "Application can't be run if the package name using a reserved Java keyword"
When I tried to generate an application with a package name contains a reserved Java keyword (in my case "for") no errors occurred but the application can't be run. See the output :

[code]

I replaced "for" by any other word and try to follow Java convention "for_" and the project run like expected (no files are missing in that case)

[2020-07-30 19:32] SudharakaP commented on #205
I think this is fixed now, but Docker Hub doesn't seem to respond to the builds for this repo anymore due to a bug on their side. I have contacted their support. :smile:

[2020-07-30 19:47] SudharakaP commented on #207
I think this is expected as in [java package names reserved keywords cannot be used](https://docs.oracle.com/javase/tutorial/java/package/namingpkgs.html). In any case this belongs to the generator repository so I am transferring it there. :smile:

[2020-07-30 20:40] #202 closed

[2020-07-30 22:00] saturnism commented on #172
another option is to keep using the GCE instance, but start to use container deployment this way:
https://cloud.google.com/compute/docs/containers/configuring-options-to-run-containers

This would pretty much be similar to the existing setup, except that the instance will automatically run the jhipster online container.

[2020-07-31 05:37] SudharakaP commented on #184
Hi everyone, I've just deployed v2.6.4 and I haven't seen this problem ever since we deployed the changes from #186 (which was included in v2.6.3). Now if you encounter this issue again please feel free to reopen a new issue and/or ping me. :smile:

cc: @farzad-sedaghatbin @lnagy82 @jshingler

[2020-07-31 05:37] #184 closed

[2020-07-31 05:39] SudharakaP commented on #200
@mydiemho : I just released v2.6.4 which includes the fix for this. If you even encounter this issue again please feel free to let us know. :smile:

cc: @tonsV2

Thanks both of you for reporting this issue. :smile:

[2020-07-31 05:43] SudharakaP commented on #205
So the docker builds for jhipster-online seems to be working again. So I am closing this issue. :smile:

[2020-07-31 05:43] #205 closed

[2020-07-31 07:15] SudharakaP opened #209 "Fix and Improve SonarCloud Analysis"
Improve and fix the issues reported by SonarCloud; https://sonarcloud.io/dashboard?id=jhipster_jhipster-online

[2020-08-02 23:55] SudharakaP commented on #172
Thanks @saturnism, I like this approach even better, as I think my previous deployment configuration that was done for CloudRun could be easily changed so that we deploy a docker container within the VM.

[2020-08-04 05:45] SudharakaP commented on #172
@PierreBesson @saturnism : So as discussed today, I was trying to deploy to GAE Flexible with a custom runtime. All seems to work well, except there is a 10 minute build timeout that we seem to be hitting on Cloud Build; the issue seems to be mentioned here; https://stackoverflow.com/questions/50046545/google-app-engine-build-timed-out-during-deployment. I've tried to set the timeout to a higher l

[2020-08-07 09:51] SudharakaP commented on #172
@saturnism @PierreBesson : I've configured GAE Flexible and it seems to work fine. 😄 I've sent you the link through DM and if you see any issues let me know. If everything works only thing left to do is to hook up our domain to GAE.

[2020-08-07 09:59] PierreBesson commented on #172
I confirm that it is working fine. Well done !

[2020-08-07 14:22] SudharakaP commented on #172
@PierreBesson : Thanks. Now we have one click deployments lol 😸

[2020-08-08 22:30] SudharakaP opened #213 "Improve Test Coverage"
We should improve the test coverage of the project; https://sonarcloud.io/dashboard?id=jhipster_jhipster-online

[2020-08-09 06:50] SudharakaP commented on #172
@PierreBesson : If this is all good; shall we merge this one? Although we will need to connect in order to do the domain name mapping to app engine as I don't have access to the domain control panel. 😄

[2020-08-09 09:33] PierreBesson commented on #172
Yes I think we can go with it ! We need the help from @jdubois for the DNS change at Gandi !

[2020-08-09 09:37] jdubois commented on #172
The DNS is managed by a Cloudflare, and I don’t understand well how this works with Gandi.
I’ll be back from holidays in one week and I can have a look then, is it urgent?

[2020-08-09 09:48] PierreBesson commented on #172
@jdubois No it's not urgent, certainly not urgent to bother you in your vacation !!!

I will see what I can do with @SudharakaP on Cloudflare as he already has access. I think we should be able to manage things from here. We will probably have to change the A record to the VM IP into a CNAME record to the appengine url.

[2020-08-09 13:44] SudharakaP commented on #172
@PierreBesson : Hmm.... 🤔 I don't think I have access to Cloudflare unfortunately. I think if I am not mistaken, from my previous conversation with @jdubois it needs two factor authentication so only he has access. :smile

[2020-08-31 18:33] #172 closed

[2020-09-01 15:53] SudharakaP opened #223 "NullPointerException at .yo-rc.json desirializer"
I've observed a NullPointerException when running certain generator workflows. Could be easily handled as we've done for different `.yo-rc.json` fields in `YoRCDeserializer.java` file.

[code]

[2020-09-01 15:55] SudharakaP opened #224 "NullPointerException at when adding Statistics Entry"
The following error was observed when adding a statistics entry;

[code]

[2020-09-02 20:10] SudharakaP opened #225 "Exceptions in Accept Header in Requests"
It has been observed that there's several exceptions being thrown due to the `accept` header.

<details>
<summary>StackTrace 1</summary>

[code]
</details>

<details>
<summary>StackTrace 2</summary>

[code]
</details>

<details>
<summary>StackTrace 3</summary>

[code]
</details>

<details>
<summary>StackTrace 4</summary>

[code]
</details>

[2020-09-02 21:01] #223 closed

[2020-09-02 23:25] SudharakaP commented on #224
@gmarziou : This error has occurred in production 10 times and it seems it is occurring when the `generator-version` is non existent. But looking at the `generator-jhipster` code where we set the version;

https://github.com/jhipster/generator-jhipster/blob/360582c22965654520bf3d7615771f2ce4f6af7f/generators/statistics.js#L152-L171

I don't see how it can become null. Do you have any idea or sugge

[2020-09-02 23:33] SudharakaP commented on #224
Ah I got it; for each of react, angular and vue we have the line,

https://github.com/jhipster/generator-jhipster/blob/360582c22965654520bf3d7615771f2ce4f6af7f/generators/client/templates/angular/package.json.ejs#L105

which I think is the cause of this issue. So there's a possibility that `generator-version` is null. 😄

[2020-09-03 05:35] pascalgrimaud commented on #224
You should look at the last release code, instead of master branch

Then, the NPE in JH Online should be fixed, it shouldn't happen at all, no matter what the code from generator-jhipster is

[2020-09-03 16:21] SudharakaP commented on #224
@pascalgrimaud : Actually my previous analysis was wrong. The `generator-version` comes from, https://github.com/jhipster/generator-jhipster/blob/360582c22965654520bf3d7615771f2ce4f6af7f/package.json#L3. Regardless, I think the generator should send the version as otherwise we cannot insert a valid statistics entry. But I don't see where and how exactly it could be null. Will do some more investig

[2020-09-05 18:03] SudharakaP opened #227 "TaskRejectedException Occurance when Submitting Statistics"
It was noticed that the following `TaskRejectedException` occurs from time to time in our production environment. And today (Sep 05th 2020) the number of occurances spiked (around 4000) for some reason.

<details>
<summary>TaskRejectedException</summary>

[code]
</details>

[2020-09-05 18:26] pascalgrimaud opened #228 "Incorrect version v6.9.0 instead of v6.10.1"
I just generated a new project at start.jhipster.tech :
https://github.com/pascalgrimaud/jhipster-sample-application200905

The version of generator-jhipster is v6.9.0 instead of v6.10.1

[2020-09-05 18:34] SudharakaP commented on #228
@pascalgrimaud : Ah, yes, I missed updating this. Let me do that now. 😄

[2020-09-05 18:47] #228 closed

[2020-09-05 19:03] SudharakaP commented on #227
More detailed exception;

<details>
<summary>Exception</summary>

[code]
</details>

[2020-09-05 19:10] SudharakaP commented on #227
I think the task queue is being exhausted here;

https://github.com/jhipster/jhipster-online/blob/ad5439aad1cfd42d418bfef773baf74b3ed81931/src/main/java/io/github/jhipster/online/config/AsyncConfiguration.java#L67

@pascalgrimaud @jdubois : Given the large number of stat entries in one particular instance; I wonder if this is some kinda DDOS attack on the stat endpoint? 🤔

[2020-09-06 07:27] pascalgrimaud commented on #227
we should have an api to enable/disable the statistics. It should help us a lot

[2020-09-06 15:47] pascalgrimaud opened #230 "Performance issue"
Since the recent change, I find the page is slow to be displayed.
The API is really slow or is it just me ?

cc @jdubois @PierreBesson @SudharakaP

![Capture d’écran de 2020-09-06 17-45-52](https://user-images.githubusercontent.com/9156882/92329619-d63fec80-f068-11ea-91f7-04901c1c4176.png)

[2020-09-06 16:05] jdubois commented on #230
I confirm, I also find it much smaller.
Maybe we can use a bigger instance? What are we currently using, and for
which price?

Le dim. 6 sept. 2020 à 17:47, Pascal Grimaud <notifications@github.com> a
écrit :

Julien Dubois

Twitter: @juliendubois <http://twitter.com/#!/juliendubois>

[2020-09-06 17:01] SudharakaP commented on #230
@pascalgrimaud @jdubois : Overall, I don't find it to be slow, but when loading the Audit log I find that it takes a couple more seconds. We are currently using the following configuration;

https://github.com/jhipster/jhipster-online/blob/f1a87ff0fd66f6e05bc920a8fb07e7c77d96e146/app.yaml#L1-L6

Previously we were using  n1-standard-1 (1 vCPU, 3.75 GB memory). So maybe we could increase the memory

[2020-09-06 17:11] pascalgrimaud commented on #230
Look at my screen. The API to /config took 2,41s, which is too much IMO.
I remember having response faster

[2020-09-06 17:29] SudharakaP commented on #230
@pascalgrimaud : Let us increase the memory to mimic the previous deployment and see if that improves performance. I'll create a PR. 😄

[2020-09-06 17:38] SudharakaP commented on #230
@pascalgrimaud @jdubois : I've done a deployment with these changes. It will be up in around 10 mins. Feel free to let me know if you see further issues. 😄

[2020-09-06 17:54] pascalgrimaud commented on #230
I don't see improvement.
As you are admin, can you add me the ROLE_ADMIN as well plz ? My login is: pascalgrimaud
So I can check the metrics too :)

[2020-09-06 18:03] SudharakaP commented on #230
Yes, I don't see any change either. I've given you admin access; let me know if there's any other thing I could help with. 😄

[2020-09-06 20:27] SudharakaP commented on #230
Will look into this more. 🤔

@saturnism : Do you by any chance have any ideas on what could be done here? 🤔

[2020-09-06 20:53] gmarziou commented on #230
Have you considered running a CPU profiler?

[2020-09-06 21:21] SudharakaP commented on #230
@gmarziou : Great idea. Let me see what could be done within the flex environment to see the CPU stats.

[2020-09-06 23:25] gmarziou commented on #230
I was rather thinking to JProfiler for which we are given free licences.

https://www.jhipster.tech/contributing-companies/#companies-helping-to-develop-jhipster

[2020-09-07 08:03] jdubois commented on #230
Oh they gave me licenses years ago... Not sure we can still count on them, I should update that page.
I can ask both for JProfiler and Yourkit, which one do you prefer?

[2020-09-07 08:21] jdubois commented on #230
I've had a look at the GCP console and I can't find our instance type... I saw that "F1" was the default, and is has a very slow CPU (600 Mhz), so that could be the explanation.
@SudharakaP do you know which instance type we have? And how much does this costs?

[2020-09-07 10:04] gmarziou commented on #230
Both are good, at work I'm more used to Yourkit.

[2020-09-07 15:07] SudharakaP commented on #230
@jdubois : For app engine flexible as far as I know the instance type is assigned through how we allocate resources; https://cloud.google.com/appengine/docs/flexible/custom-runtimes/configuring-your-app-with-app-yaml#resource-settings. Under the hood these are Computer Engine VMs (just like the one we had before). So in our case given we have 4GB memory and 1 cpu so my guess is it assigns a Genera

[2020-09-07 20:00] SudharakaP commented on #230
Interestingly if I access the direct url; https://jhipster-online.uc.r.appspot.com/ then only the `/config` endpoint is slow, which I think is understandable as it talks to the github/gitlab api. So I think this is something to do with the CloudFlair proxy perhaps. 🤔

[2020-09-08 07:10] SudharakaP commented on #230
I believe the root cause of this problem is that we have our MySQL database in `europe-west` region whereas the app engine location is set to `us-central` region. App engine documentation recommends keeping them in the same region; https://cloud.google.com/appengine/docs/locations.

However I don't know an easy way to change the region of the app engine except for creating a new project. It seems

[2020-09-08 20:19] SudharakaP commented on #230
@jdubois @PierreBesson : So as discussed with @saturnism I am going to do some more tests by creating a database in `us-central1` and see if that solves the latency problem. If that is the case I am going to shut down app engine and then move the database to `us-central1`. Would that be okay? Or is there a specific reason to keep the app location in `europe-west1` ? If we want to keep in in `europ

[2020-09-08 21:24] jdubois commented on #230
Hi, it was just in europe-west1 because that's where we are located. Also, I believe we have a bit more users in Europe.
Then, JHipster is fully global, so that's not important, as long as the app server and the database are in the same region.

[2020-09-09 06:24] SudharakaP commented on #230
I have completed the testing. I confirm that the problem is definitely the fact that we use different regions for database and app engine. I'll migrate the database to us-central1 tomorrow. There will be around 15 mins downtime I think. I'll post the exact time I will do this on Twitter. 🤔

[2020-09-09 07:03] pascalgrimaud commented on #230
Happy to know that I was not crazy when I said there is some slow API :p

[2020-09-09 08:53] jdubois commented on #230
Awesome work, thank you @SudharakaP

[2020-09-09 16:29] SudharakaP commented on #230
@jdubois @pascalgrimaud : You are welcome. Please let me know if you see any further issues. 👍🏼

The migration is complete. Hopefully the load times are now reduced. 😄

[2020-09-09 16:29] #230 closed

[2020-09-09 17:15] pascalgrimaud commented on #230
looks better ! thanks a lot @SudharakaP

[2020-09-09 17:16] SudharakaP commented on #230
You are welcome 👍🏼

[2020-09-10 16:52] SudharakaP opened #233 "Generation Blocked on GitHub and GitLab"
We had a issue were generation of applications are blocked on GitHub and GitLab; https://github.com/jhipster/jhipster-online/issues/184 and https://github.com/jhipster/jhipster-online/issues/183. These issues seems to be solved when I added the following code snippet;

https://github.com/jhipster/jhipster-online/blob/9c6215d8ca7c27ba8ea3cb9d39d058ede6194bc8/src/main/java/io/github/jhipster/online/

[2020-09-12 14:34] pascalgrimaud opened #237 "JHOnline: improve UI"
##### **Overview of the issue**

The UI can be improved, because today, it's not really beautiful...
- check box
- select too long
- etc.

The `new` to statistic needs to be removed.
It has been long time ago...

##### **Motivation for or Use Case**

![jhipster-online-ui](https://user-images.githubusercontent.com/9156882/92997733-9ae46880-f515-11ea-9ad4-27fe4c919a92.png)

##### **Reproduce the err

[2020-09-14 08:51] deepu105 opened #234 "Compilation fails in master"
When compiling the master branch it fails with error

[code]

[2020-09-14 08:52] deepu105 commented on #234
@SudharakaP did you encounter this?

[2020-09-14 17:25] SudharakaP commented on #234
@deepu105 : For me the compilation passes without a problem. I just tried `./mvnw`. ? Were you trying anything else?

[2020-09-14 17:59] deepu105 commented on #234
It was maven cache issue

[2020-09-14 18:00] #234 closed

[2020-09-15 01:05] #233 closed

[2020-09-29 07:50] amchavan opened #241 "JHipster Online: Continuous Integration feature fails"
I'm trying JHipster Online for the first time, so maybe I'm doing something wrong, but anyway.
I created a project, all is well, see https://github.com/amchavan/jhipster-demo. Next I tried to add Continuous Integration features to it, went to that Web page, selected my project and _GitHub Actions_ and clicked on the _Yes, add Continuous Integration_ button. The popup window shows:

[code]

I tried

[2020-09-29 15:44] SudharakaP commented on #241
@amchavan : Thanks much for reporting this problem. I have seen this error in our logs but couldn't figure out where it is coming from; now I know. We'll look into this and hopefully have a fix soon. 😄

[2020-10-02 00:52] SudharakaP commented on #241
Part of the problem is that there seems to be a problem with the output stream closing during generation of the ci-cd configuration files which seems to give the error. I've corrected this in #242. However it seems there's another problem specific to creating the `GitHub Actions` configuration. When trying to create the pull request for this configuration there seems to be a error coming from the

[2020-10-02 07:07] SudharakaP commented on #241
Okay I found the final part of this puzzle. It seems the bot's oauth token is missing the `workflow` permission. We need to modify the bot such that it's oauth token includes the `workflow` permission. This will ensure the bot can create/modify the `.github` folder.

@jdubois @PierreBesson : I don't have access to the jhispter-bot. Could one of you please make sure the both has the `workflow` perm

[2020-10-02 08:40] jdubois commented on #241
I have created such a token but can you confirm that I need to put it inside the "JHIPSTER_BOT_OAUTH_TOKEN" secret variable? I'm having some doubts

[2020-10-02 08:55] jdubois commented on #241
Indeed, it seems that we authenticate using the user's oauth token, not the JHipster Bot OAuth token (which doesn't seem to be used anywhere!!)

[2020-10-02 09:20] vishal423 commented on #241
As far as I remember, we don't use the bot for `GitHub` in our code. The configuration and docs are a bit misleading on that front.

[2020-10-02 09:27] jdubois commented on #241
Indeed, it seems that this is not used anymore, I'm also going to fix that. I need some time to check as it's a bit complex, but I should do 2 PRs fixing those

[2020-10-02 12:53] SudharakaP commented on #241
@jdubois : You are right; sorry for my mistake. I was seeing a very small log implying the missing `workflow` permission in the token and thought it comes from the bot token; but the bot token is no longer used and as you said we use the user token. I've opened a PR adding the `workflow` permission to the user token. This should take care of it. Feel free to review and merge. 😄

[2020-10-02 14:12] SudharakaP commented on #241
@amchavan : We've fixed this issue. Please give it a try and let us know if you see any further issues. You should refresh your GitHub token as mentioned at https://start.jhipster.tech/ci-cd under the `GitHub Actions` section. 😄

[2020-10-02 14:12] #241 closed

[2020-10-06 09:37] amchavan commented on #241
It does work now, thank you!!

[2020-10-06 15:16] SudharakaP commented on #241
Great. You are welcome. 😄

[2020-10-07 17:02] Strat1987 commented on #213
@SudharakaP would this one be eligible to get a hacktoberfest label?

[2020-10-07 17:31] SudharakaP commented on #213
@Strat1987 : Yes, you are most welcome to do it. Please feel free to suggest a PR. I will apply the Hacktoberfest label. 😄

[2020-10-09 20:35] Strat1987 commented on #213
I'm currently up to 64% and trying to triage on what seems sensible to test, is there any specific target set?

[2020-10-09 21:42] SudharakaP commented on #213
@Strat1987 : Some of the classed I think are quite nice to have a good test coverage are highlighted below; maybe some others who has more experience working with jhipster-online will have some further ideas on this.

- `JHipsterService.java`, `GeneratorService.java` - This is where we have the methods to generate the projects, the jdl configs, the ci-cd configs etc.

- `GitService.java` - I am no

[2020-10-10 09:14] pascalgrimaud commented on #213
Agree with your suggestions, @SudharakaP

[2020-10-10 15:11] SudharakaP commented on #213
@Strat1987 : Also feel free to improve any uncovered classes in the list; https://sonarcloud.io/component_measures?id=jhipster_jhipster-online&metric=coverage&view=list

I have removed the `good-first-issue` label from this as I feel this might take some time to achieve as some test cases will be a bit complicated to write. However all contributions are welcome and please feel free to suggest mult

[2020-10-10 15:15] SudharakaP opened #246 "Rename Master Branch to Main"
Related to https://github.com/jhipster/generator-jhipster/issues/11935

We need to change the name of master to main; GitHub natively supports this end of the year; https://github.com/github/renaming/

[2020-10-11 11:44] Strat1987 commented on #213
Of the list mentioned above I covered the JdlMetadataService. I have to admit that most of the listed once would take up more time / complexity than I can spare on this.

[2020-10-19 09:35] ankitbeniwal commented on #237
Hey. I would like to work on this one.

[2020-10-19 13:53] SudharakaP commented on #237
@ankitbeniwal : Thanks a lot. Sure, please feel free to suggest a PR. Some of the things we need to do here are;

- [ ] Remove the `new` label in the statistics tabs
<details><summary>Screenshot</summary>

![image](https://user-images.githubusercontent.com/12435965/96459822-6a0fe700-11d7-11eb-8bd3-33a60e353fb9.png)
</details>

- [ ] Reduce the width of html select tags
<details><summary>Screenshot

[2020-10-19 13:54] SudharakaP commented on #237
@pascalgrimaud : If have any further ideas on making UI improvements let us know. 😄

[2020-10-19 14:59] ankitbeniwal commented on #237
@SudharakaP Is this fine?

![JHipster-UI-Improvements-by-Ankit-Beniwal](https://user-images.githubusercontent.com/12103073/96468355-a4b26780-1249-11eb-9a6d-48cc8061cb53.png)

[2020-10-19 15:20] SudharakaP commented on #237
@ankitbeniwal : Yes that seems like a good improvement. 👍🏼

[2020-11-01 18:36] SudharakaP commented on #246
As discussed with @pascalgrimaud we will have to do this manually as there's references to `master` everywhere. I will be doing this the coming week. 😄

[2020-11-01 20:21] SudharakaP commented on #246
@pascalgrimaud @vishal423 : I've opened a pull request to change the name of all master instances int he repository to main. If you could please review it, that would be really appreciated. After merging that I'll change the default branch to main and re-target the PRs.

[2020-11-02 03:17] SudharakaP commented on #246
This is completed, hence I am closing. 😄

[2020-11-02 03:17] #246 closed

[2020-11-09 22:10] SudharakaP opened #258 "Generator Maintainence Branch (v6) is not using Main"
So [this one](https://github.com/jhipster/generator-jhipster/pull/12718) needs to go into v6 maintenance branch I think as otherwise jhipster-online wouldn't work property when creating PRs as it tries to create pull requests and merge them with the `main` branch.

[2020-11-09 22:20] pascalgrimaud commented on #258
did I do something wrong ?

[2020-11-09 22:23] SudharakaP commented on #258
@pascalgrimaud : No, it's just that I think we need to migrate changes in that PR (https://github.com/jhipster/generator-jhipster/pull/12718) to the 6.x branch. Since jhipster-online runs on the 6.x branch. Since you have that branch which created the PR, would you be able to quickly merge that to 6.x as well? 😄

[2020-11-09 22:23] SudharakaP commented on #258
And after that we'll need a new release I guess. But that's fine we can wait until next release cycle if you are busy. 😄

[2020-11-09 22:26] pascalgrimaud commented on #258
on phone right now, I can work on new PR fotrv6.x_maintenance branch tomorrow. I can't merge it, as it contains some Vue file

[2020-11-09 22:28] SudharakaP commented on #258
@pascalgrimaud : Don't worry about it, I'll do the PR for that today excluding the Vue files. 😄

[2020-11-10 06:27] pascalgrimaud commented on #258
Thanks for your PR @SudharakaP but sorry for asking it, I don't understand how it can fix the issue

Currently, when I generate a JHipster project with JH Online, it's still with main branch

[2020-11-10 06:49] SudharakaP commented on #258
@pascalgrimaud : Currently when you generate a JHipster project with jhipster-online it generates it with a **master** branch. I see that you've created a sample repo after releasing the new version of jhipster-online; https://github.com/pascalgrimaud/jhipster-sample-application201108. Notice that this has the `master` branch. But ideally; that should have `main` branch right. Otherwise what will

[2020-11-10 06:58] pascalgrimaud commented on #258
Yes you're right @SudharakaP : the CICD at start.jhipster.tech is broken:

[code]

But I still don't understand the relation between generator-jhipster and jhipster-online.
JHipster Online should generate the projects at `main` branch instead of `master` branch : currently KO
Then, all pull request should be against `main` branch : currently OK

Am I correct ?

[2020-11-10 07:03] SudharakaP commented on #258
@pascalgrimaud : Yes, that's my understanding as well. But the thing is JHipster Online uses the installed generator-jhispter to generate the projects. And the installed generator-jhipster is;

https://github.com/pascalgrimaud/jhipster-online/blob/e66969e388feae4dcc050be44e05f4d74fa5b7fe/src/main/docker/Dockerfile#L12

So this one is from the v6 branch right? Which means, that generator which jhip

[2020-11-10 07:06] pascalgrimaud commented on #258
Oh ok, now I understand !
The code is here: https://github.com/jhipster/generator-jhipster/blob/be2553b1fd333d53400859e2d68c2ea69b86ecce/generators/app/index.js#L501

It should be something like that instead: `git init --initial-branch=main`

[2020-11-10 07:09] pascalgrimaud commented on #258
Another solution would be to let JHipster Online to rename the branch before pushing:
`git branch -m master main`

[2020-11-10 07:12] SudharakaP commented on #258
@pascalgrimaud : Ah, yes, you are right. I thought when I renamed all instances of `master` to `main` in jhipster-generator side that should be covered somewhere. I am wrong; yes we should handle that separately I think. Let me do another PR. Thanks for pointing it out. 😃

[2020-11-10 22:07] #258 closed

[2020-11-11 04:42] #237 closed

[2020-11-11 08:22] pascalgrimaud commented on #258
I tried the last version and it works well, excepting the CICD with GitHub Actions.
I'll try to investigate later:

[code]

[2020-11-11 12:44] SudharakaP commented on #258
@pascalgrimaud : For me it works. Notice that sometime back we had the following bug; https://github.com/jhipster/jhipster-online/issues/241 due to the `workflow` permission missing in the GitHub token. Now if you haven't done so you will have to refresh your token as indicated here;

![image](https://user-images.githubusercontent.com/12435965/98813092-823ee480-23d8-11eb-8659-911ae5dad001.png)

Le

[2020-11-11 18:47] mraible opened #261 "Console errors about Content Security Policy and missing image"
I see the following error in my console when I hit start.jhipster.tech without being logged in.

<img width="1577" alt="Screen Shot 2020-11-11 at 11 43 01 AM" src="https://user-images.githubusercontent.com/17892/98851425-791f3900-2413-11eb-9375-9c8e4c354fa5.png">

After logging in, there's a 404, but it looks like it's coming from 1Password, not from JHipster.

<img width="1577" alt="Screen Shot 2

[2020-11-11 18:51] mraible opened #262 "Unable to login to start.jhipster.tech"
If I try to log in to start.jhipster.tech using my everyday Chrome profile, I'm able to log in just fine. However, yesterday I tried to use my "JHipster" profile to log in while live streaming on Twitch. I was unable to do so, so I created a new account. This didn't work either. It was embarrassing.

Today, I still can't log in with that profile, but my regular profile works. Nothing happens, the

[2020-11-11 20:04] SudharakaP commented on #262
@mraible : Sad to hear that; I can look into this, but I am not sure I understand correctly. I never use Chrome, only Firefox so probably that's why. So what do you mean by a "JHipster" profile?

[2020-11-11 20:32] ruddell commented on #258
@SudharakaP I get that error when I try to apply a JDL to a repository with a `master` branch instead of a `main` branch (https://github.com/ruddell/jhipsterSampleApplication).  It works if I push a `main` branch then try to apply the JDL.

Maybe we should use the repository's default branch rather than `main`?

You can call `getDefaultBranch()` on the `GHRepository` or `GitlabProject`, for exampl

[2020-11-11 20:32] mraible commented on #262
By profile, I mean another user that's specified under the "People" menu in Chrome. I use this feature to sync my Chrome settings across different devices. It also allows me to have some plugins installed for one person, but not the other. Here are the plugins I have installed for my JHipster user:

<img width="351" alt="Screen Shot 2020-11-11 at 1 27 47 PM" src="https://user-images.githubusercont

[2020-11-11 20:36] mraible commented on #262
I just deleted my "JHipster" user and re-created it. Now it works so I'll close this issue.

[2020-11-11 20:36] #262 closed

[2020-11-12 02:13] SudharakaP commented on #258
@ruddell: Great idea. I've tested it and your changes work very well; so I've created a PR; https://github.com/jhipster/jhipster-online/pull/264

[2020-11-12 02:34] SudharakaP commented on #261
@mraible : I tested with both Chrome and Firefox and I cannot see that security policy violation; although I do see a security policy violation related to google-analytics. My guess is that one might also be coming from a extension you've installed. Could you do this on an incognito window (assuming all extensions are disabled there) and show me the result? Thanks. 🤝

[2020-11-12 02:41] mraible commented on #261
Here's an incognito screenshot. It is a bit different from the one I posted above.

<img width="1516" alt="Screen Shot 2020-11-11 at 7 38 29 PM" src="https://user-images.githubusercontent.com/17892/98888580-7c3b1900-2455-11eb-9747-a646d653b013.png">

I think we need to add a rule to the CSP to allow XHR (`connect-src`) connections to GA. Something like this:

[code]

[2020-11-12 03:14] SudharakaP commented on #261
@mraible : Yes, now what you see is what I see on my side as well. I will create a PR for that. Thanks for verifying. 👍🏽

[2020-11-12 03:35] #261 closed

[2020-11-12 03:39] SudharakaP commented on #262
@mraible : I've published a new version of jhipster-online; it should be live in around 10 mins. This might be fixed by @ruddell's checkin; but feel free to let me know if you encounter this again.

[2020-11-12 03:40] SudharakaP commented on #261
@mraible : I've deployed a new version of jhipster-online; should be live in around 10 mins. That should solve this problem; let me know otherwise. 👍🏽

[2020-11-22 19:10] SudharakaP commented on #224
Apart from this occurrence, I didn't see this at all recently and I think this is an isolated incident where probably caused by a corrupted (or manually changed) `.yo-rc.json` file which doesn't contain the generator-version string. I don't think we should do anything further than throwing the error since having no generator-version means we cannot log it as a valid stat entry. Therefore I am clos

[2020-11-22 19:10] #224 closed

[2020-11-22 21:03] SudharakaP opened #266 "TemplateInputException: Error Resolving Template"
**Describe the bug**

It was observed in production the following error;

[code]

**Additional context**

I believe that this problem is the same as that mentioned here; https://github.com/spring-projects/spring-boot/issues/2057 and https://github.com/spring-projects/spring-boot/issues/1744

[2020-11-22 21:06] SudharakaP commented on #266
For this one we will try out the following solution; https://github.com/spring-projects/spring-boot/issues/2057#issuecomment-65846136

[2020-11-23 06:46] #266 closed

[2020-11-30 06:30] SudharakaP commented on #225
I believe these kinda accept header issues are caused by either older browsers or some kinda extensions the people are using. In either case it seems that the server is sending a 406 error and unless we have more information provided by these particular users (which only happens once or twice every few months) I don't think this is an issue we have to investigate further. Therefore I am closing th

[2020-11-30 06:30] #225 closed

[2020-11-30 06:43] SudharakaP opened #269 "Exception related to wp-config.php"
**Describe the bug**

Noticed the following error in the GCP logs;

[code]

[2020-11-30 06:52] SudharakaP commented on #269
This seems to be coming from a Wordpress plugin and spring security seems to block due to malicious url issue;

[code]

[2020-11-30 06:52] #269 closed

[2020-12-01 07:04] SudharakaP opened #270 "Production Error when Submitting Statistics"
**Describe the bug**

The following error was logged in production;

[code]

[2021-01-12 02:16] mraible opened #272 "Github should be spelled GitHub when adding CI"
##### **Overview of the issue**

I used JHipster Online to add CI (GitHub Actions) to my JHipster project. The PR it creates has a typo: Github should be GitHub.

<img width="956" alt="Screen Shot 2021-01-11 at 7 13 23 PM" src="https://user-images.githubusercontent.com/17892/104260755-5627fa00-5441-11eb-8033-e42af8267f06.png">

##### **Motivation for or Use Case**

Because I notice small things li

[2021-01-12 02:58] #272 closed

[2021-01-19 07:14] SudharakaP opened #276 "Add Support to Auto Update Copyright Headers"
**Is your feature request related to a problem? Please describe.**

Updating copyright headers manually each year is time consuming. We could automate this in a GitHub action.

**Describe the solution you'd like**

Automate updating copyright headers at the end of each year.

**Additional context**

Originally suggested by @pascalgrimaud at https://github.com/jhipster/jhipster-online/pull/271#issu

[2021-01-19 07:29] pascalgrimaud commented on #276
Ahaha in fact, I didn't explain well.
I talk about upgrading the application to the latest version of generator-jhipster, not the copyright :)

When you modified the generated files by adding copyright, you can have a lot of conflict when upgrading the application. That's what I wanted to say.

Anyway, your idea is good too :)

[2021-01-19 18:10] #276 closed

[2021-01-19 18:24] SudharakaP commented on #276
Thanks much for the explanation; although now sure what we can do about the conflicts when upgrading. 🤔

[2021-01-20 23:44] SudharakaP opened #278 "Add Missing Copyright Headers"
**Describe the Issue**

Some of the files in this repo doesn't have copyright headers. We need to add them. 😄

[2021-01-21 05:04] #278 closed

[2021-01-28 12:02] woybgroup opened #281 "Unable to reset my password"
Link :- https://start.jhipster.tech/
Forgot Password not working.
After entering email id woybgroup@gmail.com... get the message email sent. But I dont get any email.

[2021-01-28 17:54] SudharakaP commented on #281
@woybgroup : Thanks for reporting the issue; we are looking into it. 😄

[2021-01-28 20:35] jdubois commented on #281
Thanks a lot, I just had a look at the logs:

- It has been working fine until 3 days ago (we always have several people resetting their password)
- There's been no logs for three days, and I couldn't receive an email with my own password -> so there's something buggy on their side since 3 days

@SudharakaP I've already seen this in the past, and I just rebooted the server and it worked. I believe

[2021-01-28 21:03] SudharakaP commented on #281
@jdubois : I just restarted and now it seems to work. Thank you. 😄

[2021-01-28 21:05] SudharakaP commented on #281
This seems to be a MailGun issue and there's nothing wrong with the jhipster-online service. So I am closing this for now but if this occurs again we will look into it more on what could be done. 🤔

[2021-01-28 21:05] #281 closed

[2021-03-23 22:04] #163 closed

[2021-03-24 14:56] SudharakaP opened #285 "Deployment to GCP Fails"
**Describe the bug**

It seems that starting recently (starting on the v2.7.9) our deployment workflow fails with the follwoing error when trying to push the docker image.

[code]

Sample build run: https://github.com/jhipster/jhipster-online/actions/runs/681223047

**To Reproduce**

Steps to reproduce the behavior:
1. Create a new deployment (needs to be admin of this repository)

**Expected beha

[2021-03-26 20:44] PierreBesson commented on #285
I did a PR with @SudharakaP to migrate from container registry to artifact registry: https://github.com/jhipster/jhipster-online/pull/286

[2021-03-26 20:48] pascalgrimaud commented on #285
Added a bounty as I know you're doing your bests to fix the release on JH Online

[2021-03-27 04:44] #285 closed

[2021-03-27 05:15] SudharakaP commented on #285
I fixed the remaining errors, it was minor and the deployment works now as usual. 🥳

@pascalgrimaud : Thanks. 😄

@PierreBesson : Thanks a lot Pierre for helping me. I think you did the main work in migrating to artifact registry. So you should take the bounty. Cheers. 😄

[2021-03-27 06:00] SudharakaP opened #287 "Starting v2.7.9 Project Generation Creates Empty Directory with only .yo-rc.json File"
**Describe the bug**

Starting v2.7.9 the project generation creates an empty directory with only the `.yo-rc.json` file. For now I've reverted back to v2.7.8 in production until we fix this issue.

**Expected behavior**

The project should be correctly generated with all the files.

**Screenshots**

![image](https://user-images.githubusercontent.com/12435965/112711619-032de280-8e87-11eb-9637-ff96

[2021-03-27 18:15] pascalgrimaud commented on #287
@SudharakaP : I had the same problem in the past. See my message https://groups.google.com/g/jhipster-dev/c/M6P-6Fp0xiI/m/UNpU2YreAQAJ in the mailing list

The problem came from the Node version which was outdated.
Maybe it's not related to this, but if it can help...

[2021-03-27 18:17] SudharakaP commented on #287
@pascalgrimaud : Thanks a lot. I know this has occurred to me too and I fixed it before. Last night up-to now I was trying to recall what I did last time. 😄 I'll take a look at that mailing thread. 😄

[2021-03-27 18:18] pascalgrimaud commented on #287
Then, another thing to investigage: I don't know if we use yarn or npm ... I think we used both. I don't know if it works well

[2021-03-27 18:21] SudharakaP commented on #287
We only use yarn in this project. I don't see anywhere we use npm anymore. 😄

[2021-03-27 18:44] SudharakaP commented on #287
@pascalgrimaud : Found the problem. We have two options we removed in the generator which we still had on the jhipster-online side. I created a PR. Could you take a quick look before I merge it and create a new deployment. 😄

[2021-03-27 18:51] #287 closed

[2021-03-29 17:44] SudharakaP commented on #285
@pascalgrimaud : Bug bounty invoice submitted at https://opencollective.com/generator-jhipster/expenses/37159

@PierreBesson : Please claim the other half. Thanks for helping. 👍🏽

[2021-03-29 18:53] pascalgrimaud commented on #285
@SudharakaP : approved

[2021-03-29 20:38] SudharakaP commented on #285
Thanks 👍🏽

[2021-03-30 07:31] PierreBesson commented on #285
I have claimed my bounty on opencollective: https://opencollective.com/generator-jhipster/expenses/37215

[2021-03-30 07:45] pascalgrimaud commented on #285
@PierreBesson : approved

[2021-04-09 18:33] Dado278 opened #294 "Generate Application online has problem"
Hi all,

I generate application from
https://start.jhipster.tech/generate-application
and push it  in gitHub repository.
When a try to deploy it in Heroku server I get a maven error and build fails.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project jh-sweet-home-dinner-application-2: Fatal error compiling: invalid target relea

[2021-04-09 19:53] gmarziou commented on #294
It seems that you're deploying on java 8 runtime while having built for JDK 11.

[2021-04-09 20:00] SudharakaP commented on #294
@Dado278 : Thanks for posting the issue; @gmarziou is correct. Normally Heroku by default supports Java 8 (https://devcenter.heroku.com/articles/java-support#supported-java-versions). So you need to set it to Java 11 as specified in that section. If you did use the [Heroku Sub-generator](https://www.jhipster.tech/heroku/#deploying-to-heroku) (which I assume you didn't?) we set this property automa

[2021-04-09 20:03] #294 closed

[2021-04-10 10:34] Dado278 commented on #294
Thank you @gmarziou and @SudharakaP , now it works correctly :)
Sorry for incorrect subject, I wanted to open it as white support ;)
Have a good day 💯

[2021-04-10 15:46] SudharakaP commented on #294
Thanks for the confirmation. Have a good day to you too. Let us know if you have any other questions. 😄

[2021-04-12 17:44] Dado278 opened #295 "Connection refused when I try to modify data"
Hi all,
I generated jhipster application by online generator website
https://start.jhipster.tech/generate-application

Application is deployed on Heroku server online, it works, for example to read data from H2 DB, but when I try to modify data I get
Exception in createUser() with cause = 'java.lang.RuntimeException: Connection refused' and exception = 'Connection refused; nested exception is java

[2021-04-13 07:31] pascalgrimaud commented on #295
Is it this project you tried to deploy to Heroku ?
https://github.com/Dado278/jh-sweet-home-dinner-rep2/blob/main/.yo-rc.json#L16

In this case, you need to use PostgreSQL, which is free. Otherwise, you need to configure your Heroku account to have MySQL database, if I'm not wrong

[2021-04-13 13:55] Dado278 commented on #295
Hi @pascalgrimaud,
yes, that's my repository, I configured MySQL only for production and H2 DB with hard disk persistence, I expected that Heroku use H2 DB.
With "jhipsterVersion": "6.10.5", repository with MySQL and H2 DB
https://github.com/Dado278/jh-sweet-home-dinner-rep/blob/main/.yo-rc.json
it works correctly.

With "jhipsterVersion": "7.0.1", actual repository
I get exception.

What is it ch

[2021-04-13 15:33] pascalgrimaud commented on #295
Once you deploy to Heroku, it will use `prod` profile:
- you need to have an Instance of MySQL, running in your Heroku account
- as you choose Elasticsearch, it's the same -> https://github.com/Dado278/jh-sweet-home-dinner-rep/blob/main/.yo-rc.json#L17 -> you need to have an instance of Elasticsearch

The error is normal: `org.springframework.dao.DataAccessResourceFailureException: Connection refu

[2021-04-13 17:05] Dado278 commented on #295
Hi @pascalgrimaud,
thank you for your explanation and hint, I'm new about JHipster ;)
Now it works correctly :)
I will close this thread.
Have a good day,
Davide

[2021-04-13 17:05] #295 closed

[2021-05-29 08:51] swarajsaaj commented on #162
I feel this would be very nice to have. @SudharakaP @vishal423 Shall I pick this up if no one is working on it?

[2021-05-29 08:53] vishal423 commented on #162
Feel free to pick up @swarajsaaj

[2021-05-29 08:54] vishal423 commented on #162
@deepu105 @pascalgrimaud @mraible  - It seems a good candidate to have a bounty. Can you add one ?

[2021-05-29 09:11] swarajsaaj commented on #162
Thanks @vishal423 ,Shall we also move this to homepage once we make it for anonymous users (like https://start.spring.io/, https://code.quarkus.io/ or https://code.quarkus.io, maybe with a refactored interface too).

[2021-05-29 09:11] pascalgrimaud commented on #162
@vishal423 : done

[2021-05-29 15:29] SudharakaP commented on #162
Thanks for taking it up @swarajsaaj. My suggestion is that as an MVP first let us just open it up for anonymous users. Changing the interface can be done on a separate issue. 😄

[2021-06-05 18:13] #162 closed

[2021-06-06 12:23] swarajsaaj commented on #162
bounty claimed https://opencollective.com/generator-jhipster/expenses/42422

[2021-06-06 12:32] vishal423 commented on #162
Can we add a section / link on the main page to navigate to the UI interface to allow anonymous users to generate applications?

[2021-06-06 12:40] swarajsaaj commented on #162
@vishal423 The "Create Application" link in the left navigation bar is now available for anonymous users. Do you mean something on the right section too?

[2021-06-06 13:39] vishal423 commented on #162
@swarajsaaj thanks for the confirmation. It seems a caching issue on my side. I can see the option now and looks good to me.

[2021-06-24 07:15] pascalgrimaud opened #303 "Release v7.1.0"
I think we can upgrade to v7.1.0.
Do you confirm @jdubois ?

cc @SudharakaP

[2021-06-24 09:25] jdubois commented on #303
Ah yes, please do! Thank you!

[2021-06-24 12:35] SudharakaP commented on #303
Will do this over the weekend. 😄

[2021-06-24 12:36] pascalgrimaud commented on #303
@SudharakaP : is it similar to https://github.com/jhipster/jhipster-online/pull/293/ ? if yes, I can prepare the PR

[2021-06-24 12:44] SudharakaP commented on #303
@pascalgrimaud : Yes, exactly similar. 👍🏽

[2021-06-26 14:50] swarajsaaj opened #305 "Get "Create Application" form on homepage with a compact UI"
With https://github.com/jhipster/jhipster-online/pull/301 now anonymous users can generate the application.
It would be nice to have this form on the homepage of start.jhipster.tech, with a compact UI (maybe something similar to https://start.spring.io or https://micronaut.io/launch/, ideas welcome :) )

[2021-06-26 16:15] #303 closed

[2021-06-26 20:27] SudharakaP commented on #305
My personal thinking on this matter is that the application generation form is too large to just embed in the front page. Note that both spring and micronaut is different in that they don't let user to register or sign in at all. We provide more capabilities such as signing in and saving the jdl templates creating the repos on GitHub, GitLab etc.

Therefore I don't quite agree with just having thi

[2021-06-26 20:39] PierreBesson commented on #305
I also agree with this idea of adding a "generate app" card. It could even be the first card presented. Then we could add a short message explaining the advantages of using a registered account such as "registered users can save their application configurations / entities and upload their apps directly to GitHub/Gitlab".

[2021-06-27 01:10] SudharakaP commented on #305
@PierreBesson : Thanks for the idea. Yes I agree we could make it the first card.

@swarajsaaj : Feel free to submit a PR if you like. The card design should mimic what we have to register and Sign In cards. But the button can be, `Generate App` or `Create Application`. And the description can be something like what @PierreBesson mentioned above. 😄

[2021-06-27 05:59] swarajsaaj commented on #305
Thanks for the ideas @SudharakaP , @PierreBesson  😄
Yes I agree, we do more than just zip file downloads after login and these features shall be highlighted appropriately, I will work on adding the card with description.
Additionally, as you mentioned the form is too large (even on the dedicated page), hence we can think to redesign it to a "compact" interface, reducing scroll and number of clicks

[2021-06-27 13:25] SudharakaP commented on #305
My thinking is that the form is fine on the dedicated page and I am doubtful on changing it to a smaller design. The users should ideally see all the options offered by the generator and having those in the form isn't necessarily a drawback. However this is just my opinion, and if you feel it's something to be discussed feel free to open a new issue so that the team could weight on it. 😄

[2021-06-30 04:08] #305 closed

[2021-08-05 14:55] yassinesefi opened #308 "Request reset password is not working"
**Describe the bug**
I've tried to reset my forgotten password, but no email has been received.

<img width="1536" alt="Screenshot 2021-08-05 at 16 54 48" src="https://user-images.githubusercontent.com/9133374/128371693-bb120536-54b8-455d-b0f1-8e7282bc919f.png">

[2021-09-01 07:52] swarajsaaj commented on #308
Seems related to issue in past https://github.com/jhipster/jhipster-online/issues/281

[2021-09-04 22:55] nomuna opened #312 "Tests fail under windows"
**Describe the bug**

Two tests in JHipsterServiceTests fail under windows because the executable "npm" can not be found.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the project under windows
2. run "mvn clean verify"

**Expected behavior**
Should pass under windows.

**Desktop (please complete the following information):**
 - OS: Windows 10 x64

[2021-09-15 14:02] nomuna opened #317 "Dev containers are exposing ports on non localhost IPs"
The provided compose yml files create containers that open ports to the public.

Related (closed) issue from generator-jhipster: https://github.com/jhipster/generator-jhipster/issues/12015

[2021-09-15 14:04] nomuna opened #318 "Ports in sonar-project.properties and sonar.yml don't match"
Port in _sonar-project.properties_ is 9001
Port in _src/main/docker/sonar.yml_ is 9000

[2021-09-17 09:15] wp-jackliu opened #319 "start create jhispter service issue"
**Describe the bug**
A clear and concise description of what the bug is.
website: https://start.jhipster.tech/generate-application
action : type any message on the form

click  Download as Zip file
**_**the zip file only contain a .yo-rc.json file.**_**

[2021-09-17 09:16] wp-jackliu commented on #319
![image](https://user-images.githubusercontent.com/3220935/133758591-5e6ea4e1-122d-4bbc-b454-3c1d8efbfa2a.png)

[2021-09-19 09:42] AnasAltarazi1998 opened #320 "I want to ask about the structure of jhipster project"
why we use liquibase instead of hibernate to connect with database ?
is there any benefit else log change ?

[2021-09-20 08:04] pascalgrimaud commented on #319
Thanks for reporting this, @wp-jackliu

I think there is a problem with Yarn version.
How can we fix this, @SudharakaP ?

[2021-09-20 08:32] jdubois commented on #319
I've had a look at the logs and that seems indeed linked with Yarn doing a Git a command:

[code]

I didn't know we were still using Yarn somewhere here! Calling also @PierreBesson for help here

[2021-09-20 08:39] pascalgrimaud commented on #319
@jdubois : it can be a problem with Node version. Can you check if we use a LTS version, specially 14.17.6 ?

[2021-09-20 08:52] jdubois commented on #319
Here what I have inside the container (in production):

[code]

[2021-09-20 08:54] jdubois commented on #319
Oh I can reproduce the error inside the container, by running "jhipster" on the console:

[code]

[2021-09-20 08:55] jdubois commented on #319
Argh "git" isn't install in the container!!!! WTF?

[2021-09-20 08:56] jdubois commented on #319
I guess all we need to do is install git in https://github.com/jhipster/jhipster-online/blob/main/Dockerfile as someone removed it from the main image

[2021-09-20 09:00] jdubois commented on #319
- I fixed the production container manually -> it's currently running OK but that's obviously not a good solution at all
- The issue was that Git wasn't installed: it looks to me that an `apt-get update` failed when creating the container, so I would first just try to build a new one
- Otherwise, the solution is to do an `apt-get install git`

Unfortunately I'm not the best person to update this -

[2021-09-20 09:02] pascalgrimaud commented on #319
Ok thanks @jdubois : I'll have a look after lunch to try to fix this properly

[2021-09-20 11:33] mshima commented on #319
jhipster-online should extend generator-jhipster image instead of creating its own from the ground.

[2021-10-04 12:46] MaciejG opened #323 "Account/password recovery with e-mail doesn't work"
E-mail recovery for JHipster online account doesn't work. When I provide my e-mail address an e-mail with account/password recovery instructions never comes.

[2021-10-04 12:54] SudharakaP commented on #323
Thanks for reporting this. I thought I fixed this last week by restarting the server as it was noted from time to time out mailgun seems to get blocked. But seems it's not fixed. I'll look into this more. 🤔

[2021-10-05 06:41] pascalgrimaud commented on #323
@SudharakaP : by restarting the project, the issue is back -> https://github.com/jhipster/jhipster-online/issues/319

As there is no installed git in the container

[2021-10-05 12:52] SudharakaP commented on #323
Ops, my mistake. I'll do a new deployment today and then we can get this resolved. Sorry about that. 😢

[2021-10-06 05:40] SudharakaP commented on #319
Thanks for looking into this everyone. Sorry I was a bit busy over the past couple of weeks. But I just deployed the fix by @mshima to this so now it should all be good and working. Therefore I am closing this one. 👍🏽

[2021-10-06 05:40] #319 closed

[2021-10-06 05:59] SudharakaP commented on #320
Liquibase is for tracking database schema changes whereas Hibernate is an ORM; they can be used alongside each other; https://docs.liquibase.com/workflows/database-setup-tutorials/hibernate.html.

If you have further questions please feel free to ask them in our Gitter channel; https://gitter.im/jhipster/generator-jhipster?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge or use Stack Overfl

[2021-10-06 05:59] #320 closed

[2021-10-08 13:42] pascalgrimaud opened #326 "Drop maven-docker-plugin and switch docker generation to jib-maven-plugin"
Following discussion here: https://github.com/jhipster/jhipster-online/pull/325#discussion_r725021277

[2021-10-30 19:37] somayaj commented on #318
Hi, can this be worked?

[2021-11-10 12:32] #270 closed

[2021-11-10 17:55] somayaj commented on #227
@pascalgrimaud would changing to an SimpleAsyncTaskExecutor() be an option?

@Bean(name = "statisticsExecutor")
    public Executor getStatisticsExecutor() {
        return new SyncTaskExecutor();
    }
}

[2021-11-10 19:10] jdubois commented on #227
Let me check the code first. I believe this is also used to run the generator, so there might be an impact.

[2021-11-11 16:00] jdubois commented on #227
So someone already fixed the question I had, as we have 2 different task executors, one for the generator, and another one for the stats service. So this is all good to change!
I know the stats service isn't very well coded, so yes there could be some kind of DDOS attack there. In some way, that limit of 1000 tasks removes that DDOS attack as it doesn't accept more requests - and we'll lose some,

[2021-11-12 00:34] somayaj commented on #227
how do you replicate this though to even fix it?

[2021-11-19 07:09] jdubois commented on #227
I don’t know why the task is full: it might not even be our fault, I see in the stats that many people fork and hack the project (typically for internal usage inside their company, which is awesome), and many of those people send us back statistics without understanding what they do (we have lots of stats for options that do not exist …). So it might be one of those users who is DDOS’ing the queue

[2021-11-22 12:19] henry2man opened #330 "Gateway microservice with MySQL creates an unsupported non-reactive gateway app"
**Describe the bug**
Using Jhipster online (https://start.jhipster.tech/generate-application)  to generate a new Gateway App with MySQL generates a non-reactive app that doesn't starts due to a missing configuration error related with Spring Cloud Gateway. As per https://github.com/jhipster/generator-jhipster/issues/15933#issuecomment-897700281 (\cc @mraible) all gateways must be reactive ones.

O

[2021-12-21 13:00] AdrielIclodean opened #333 "Let's encrypt tutorial is not workin"
On the page https://www.jhipster.tech/production/ there is this:
_You can also use Let’s Encrypt using this tutorial._

But the tutorial is not working.
Can you try to fix this somehow?

Thanks!

[2022-01-24 05:59] SudharakaP commented on #333
@AdrielIclodean : Thanks for reporting this. I've opened a PR to fix this. 😉

[2022-01-25 20:57] assimbly opened #341 "Choose Jhipster version to generate code"
**Is your feature request related to a problem?**

I  like to generate (and compare) an application with different Jhipster versions to

a) compare my customization against the default generated app (for my Jhipster version).
b) compare a version with another version.

**Describe the solution you'd like**

Select the Jhipster version (for example from a combobox) on application generation (or chan

[2022-01-25 21:05] assimbly opened #342 "Set defaults under settings for creating an application"
Currently, Jhipster doesn't remember my choices. Thus when I generate an application I can choose everything, but next time I need to apply the same choices again.

It would be nice if I can set/change the defaults (for example the Application name, type of application, package name, port name and so on) under Settings, so that it will be remembered next time I log in and generate a new applicatio

[2022-01-26 03:31] #333 closed

[2022-02-03 19:40] assimbly opened #343 "Simplified UX for creating an application"
Jhipster online wants to be user-friendly. Probably most users want to just choose the type of application, backend, frontend, database and test framework. Maybe a simplified "create application" can be created?

There, users just click on some tiles with the logos of the frameworks (and other/advanced option are in a separate tab). Then with just a few clicks (without dropdown and more technical

[2022-02-08 13:06] jdubois opened #344 "Add a "Power by GCP" footer"
As Google provides us credits to host JHipster Online, we should thank them with a specific footer, like "Powered by Google Cloud Platform".
@alexismp should be able to validate the exact wording and maybe add a logo (I'm not sure we can do this without signing some document, I'll do this if that's necessary)

[2022-02-10 15:28] alexismp commented on #344
"Powered by Google Cloud" with this logo would be great, thanks : https://www.gstatic.com/devrel-devsite/prod/v870be6fb6841f3532cd3aec5bc0b3146031642f2794ae8ba7f51ebf843a655f9/cloud/images/cloud-logo.svg

[2022-02-11 14:15] jdubois commented on #344
As the logo itself says "Google Cloud", this is making "Powered by Google Cloud Google Cloud", so I just put "Powered by" + logo.
I'll put a screenshot in the PR so you can have a look.

[2022-02-11 16:59] #344 closed

[2022-03-21 08:37] matthieulapatate opened #349 "CloudProviding JHipster-lite application"
The idea would be to host the application on cloud in order to permit the application to be accessible everyone by everyone.

In a first hand, i would like to deploy the application on a simple Heroku server, kind of staging website in tests the new front-end fonctionnalities. The server will generate the asked files locally on the server and then when the user will ask for it, he will receive a z

[2022-03-21 08:44] pascalgrimaud commented on #349
@matthieulapatate : why are you creating this ticket in JHipster Online project? I think you're wrong as it's not the scope of this project

[2022-03-21 08:46] matthieulapatate commented on #349
Sorry wrong project.

[2022-03-21 08:46] #349 closed

[2022-03-29 15:07] MikeAngek opened #350 "Account/password recovery with e-mail doesn't work"
E-mail recovery for JHipster online account doesn't work. When I provide my e-mail address an e-mail with account/password recovery instructions never comes.

[2022-04-20 08:31] SubhashGaikwad opened #356 "Unable to create project on Github even apply JDL for existing one"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-07 07:14] TimMaltGermany opened #363 "generate-application with websockets does not start"
**Bug description**
I used the web generator at https://start.jhipster.tech/generate-application to generate a new JHipster application with web sockets, but it fails to start with the following error message:
`Factory method 'stompWebSocketHandlerMapping' threw exception; nested exception is java.lang.IllegalStateException: No suitable default RequestUpgradeStrategy found`

**To Reproduce**
Steps

[2022-07-07 09:33] fminierf opened #364 "Account/password recovery with e-mail doesn't work"
**Describe the bug**
E-mail recovery for JHipster online account doesn't work. When I provide my e-mail address an e-mail with account/password recovery instructions never comes.

**To Reproduce**
1. Go to signin form of jhister website
2. Click on 'Did you forget your password?'
3. fill in Email field with account email and click on 'Reset'
4. Message 'Check your emails for details on how to rese

[2022-07-18 06:26] TimMaltGermany commented on #363
Does anyone have any insights on this, please?

[2022-08-15 17:44] HK-Devoteam opened #368 "Integrationtests failed"
I generated a new project with Jhipster with microsoft sql server as database. When runing integration tests I get this error in each test:

java.lang.IllegalStateException at DefaultCacheAwareContextLoaderDelegate.java:132
        Caused by: org.springframework.beans.factory.BeanCreationException at AbstractAutowireCapableBeanFactory.java:1804
            Caused by: liquibase.exception.LiquibaseE

[2022-08-26 19:26] emilpaw commented on #368
This seems to be an issue with the generator itself and not with JHipster Online. Please open an issue in the main repo: https://github.com/jhipster/generator-jhipster.

For best results don't forget to use the issue template. :)

[2022-09-21 09:50] TimMaltGermany commented on #363
This is still an issue with JHipster 7.9.3

[2022-09-29 14:34] Ederagp commented on #364
this still doesn't work !!!